<table cellspacing="0" cellpadding="0" class="table table-bordered">

    <tr>
      <th >&nbsp;</th>
      <th>Jan 21</th>
      <th>Feb 21</th>
      <th>Mar 21</th>
      <th>Apr 21</th>
      <th>May 21</th>
      <th>Jun 21</th>
      <th>Jul 21</th>
      <th>Aug 21</th>
      <th>Sep 21</th>
      <th>Oct 21</th>
      <th>Nov 21</th>
      <th>Dec 21</th>
    </tr>
    <tr>
      <td >ACTIVA</td>
      <td class="text-right">14,840</td>
      <td class="text-right">14,798</td>
      <td class="text-right">14,755</td>
      <td class="text-right">29,913</td>
      <td class="text-right">29,804</td>
      <td class="text-right">35,669</td>
      <td class="text-right">35,673</td>
      <td class="text-right">38,171</td>
      <td class="text-right">38,304</td>
      <td class="text-right">37,867</td>
      <td class="text-right">37,921</td>
      <td class="text-right">37,944</td>
    </tr>
    <tr>
      <td >Liquidity</td>
      <td class="text-right">6,659</td>
      <td class="text-right">6,659</td>
      <td class="text-right">6,659</td>
      <td class="text-right">100</td>
      <td class="text-right">144</td>
      <td class="text-right">6,164</td>
      <td class="text-right">6,321</td>
      <td class="text-right">4,296</td>
      <td class="text-right">4,602</td>
      <td class="text-right">1,245</td>
      <td class="text-right">1,488</td>
      <td class="text-right">1,699</td>
    </tr>
    <tr>
      <td >Accounts Receivable</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
    </tr>
    <tr>
      <td >Pre Payments</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">1,017</td>
      <td class="text-right">1,015</td>
      <td class="text-right">1,012</td>
      <td class="text-right">1,008</td>
      <td class="text-right">1,004</td>
      <td class="text-right">1,001</td>
      <td class="text-right">998</td>
      <td class="text-right">995</td>
      <td class="text-right">993</td>
    </tr>
    <tr>
      <td >Reserve Accounts</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">1,149</td>
      <td class="text-right">1,149</td>
      <td class="text-right">1,050</td>
      <td class="text-right">1,050</td>
      <td class="text-right">1,050</td>
    </tr>
    <tr>
      <td >Transaction Expenditures</td>
      <td class="text-right">70</td>
      <td class="text-right">70</td>
      <td class="text-right">69</td>
      <td class="text-right">224</td>
      <td class="text-right">223</td>
      <td class="text-right">222</td>
      <td class="text-right">220</td>
      <td class="text-right">219</td>
      <td class="text-right">218</td>
      <td class="text-right">217</td>
      <td class="text-right">216</td>
      <td class="text-right">215</td>
    </tr>
    <tr>
      <td >Asset Book Value</td>
      <td class="text-right">8,112</td>
      <td class="text-right">8,070</td>
      <td class="text-right">8,027</td>
      <td class="text-right">28,571</td>
      <td class="text-right">28,422</td>
      <td class="text-right">28,272</td>
      <td class="text-right">28,123</td>
      <td class="text-right">31,503</td>
      <td class="text-right">31,335</td>
      <td class="text-right">34,357</td>
      <td class="text-right">34,172</td>
      <td class="text-right">33,988</td>
    </tr>
    <tr>
      <td >PASSIVE</td>
      <td class="text-right">-14,840</td>
      <td class="text-right">-14,798</td>
      <td class="text-right">-14,755</td>
      <td class="text-right">-29,913</td>
      <td class="text-right">-29,804</td>
      <td class="text-right">-35,669</td>
      <td class="text-right">-35,673</td>
      <td class="text-right">-38,171</td>
      <td class="text-right">-38,304</td>
      <td class="text-right">-37,867</td>
      <td class="text-right">-37,921</td>
      <td class="text-right">-37,944</td>
    </tr>
    <tr>
      <td >Liquidity Gap</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
    </tr>
    <tr>
      <td >Accounts Payable</td>
      <td class="text-right">0</td>
      <td class="text-right">-19</td>
      <td class="text-right">-38</td>
      <td class="text-right">-57</td>
      <td class="text-right">-131</td>
      <td class="text-right">-204</td>
      <td class="text-right">-299</td>
      <td class="text-right">-393</td>
      <td class="text-right">-467</td>
      <td class="text-right">0</td>
      <td class="text-right">-73</td>
      <td class="text-right">-147</td>
    </tr>
    <tr>
      <td >Provisions</td>
      <td class="text-right">0</td>
      <td class="text-right">-2</td>
      <td class="text-right">-4</td>
      <td class="text-right">-7</td>
      <td class="text-right">-9</td>
      <td class="text-right">-11</td>
      <td class="text-right">-13</td>
      <td class="text-right">-15</td>
      <td class="text-right">-18</td>
      <td class="text-right">-20</td>
      <td class="text-right">-22</td>
      <td class="text-right">-24</td>
    </tr>
    <tr>
      <td >Debt</td>
      <td class="text-right">-6,014</td>
      <td class="text-right">-6,014</td>
      <td class="text-right">-6,014</td>
      <td class="text-right">-21,414</td>
      <td class="text-right">-21,414</td>
      <td class="text-right">-27,338</td>
      <td class="text-right">-27,338</td>
      <td class="text-right">-29,707</td>
      <td class="text-right">-29,707</td>
      <td class="text-right">-29,707</td>
      <td class="text-right">-29,707</td>
      <td class="text-right">-29,707</td>
    </tr>
    <tr>
      <td >Shareholder Loan</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
      <td class="text-right">-3,000</td>
    </tr>
    <tr>
      <td >Equity</td>
      <td class="text-right">-5,826</td>
      <td class="text-right">-5,762</td>
      <td class="text-right">-5,698</td>
      <td class="text-right">-5,435</td>
      <td class="text-right">-5,250</td>
      <td class="text-right">-5,116</td>
      <td class="text-right">-5,024</td>
      <td class="text-right">-5,056</td>
      <td class="text-right">-5,113</td>
      <td class="text-right">-5,140</td>
      <td class="text-right">-5,119</td>
      <td class="text-right">-5,066</td>
    </tr>
    <tr>
      <td >Pure Equity</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
      <td class="text-right">-5,851</td>
    </tr>
    <tr>
      <td >Accumulated Profits</td>
      <td class="text-right">25</td>
      <td class="text-right">89</td>
      <td class="text-right">153</td>
      <td class="text-right">417</td>
      <td class="text-right">601</td>
      <td class="text-right">735</td>
      <td class="text-right">828</td>
      <td class="text-right">796</td>
      <td class="text-right">738</td>
      <td class="text-right">711</td>
      <td class="text-right">733</td>
      <td class="text-right">785</td>
    </tr>
    <tr>
      <td >Accumulated Distributions</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
    </tr>
  </table>