<div class="project-details">
    <div class="sub-header">
        <div class="row">
            <div class="col-md-6">
                <div class="header-left">
                    <div class="breadcrumb-nav">
                        <ul>
                            <li>Projects</li>
                            <li><a href="#">Wind Onshore DE (Demo)</a> </li>
                        </ul>
                    </div>
                    <div class="project-version">
                        <div class="form-row">
                            <div class="row align-items-center">
                                <div class="col-auto">Project Version</div>
                                <div class="col-auto">
                                    <select class="custom-select">
                                        <option>V112/3.45 MW - Energy Yield 1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
            <div class="col-md-6">
                <div class="sub-links">
                    <ul>
                        <li><a href="#">Project IRR 3.8%</a></li>
                        <li><a href="#">Equity IRR 3.8%</a></li>
                        <li><a href="#">Payout IRR 3.8%</a></li>
                        <li><a href="#">25 Years</a></li>
                        <li><a href="#">P-Value 75%</a></li>
                    </ul>

                </div>
          

            </div>
    
        </div>
    
    </div>

    <div class="app-tabs">
        <div class="tab-left">
            <ul>
                <li><a href="#"><i class="fas fa-ellipsis-h"></i></a> </li>
                <li class="divider"></li>
                <li><a href="#">Master</a> </li>
                <li [class.active]="activeTab=='overview'"><a (click)="toggleTab('overview')">Overview</a> </li>
                <li class="divider"></li>
                <li [class.active]="activeTab=='fimo'"><a (click)="toggleTab('fimo')">Fimo</a> </li>
                <li><a href="#">Production</a> </li>
                <li><a href="#">Sales</a> </li>
                <li><a href="#">Opex</a> </li>
                <li><a href="#">Campex</a> </li>
                <li><a href="#">Debt</a> </li>
                <li><a href="#">Taxes</a> </li>
                <li><a href="#">Transaction</a> </li>
                <li class="divider"></li>
                <li><a href="#">Tempaltes</a> </li>
            </ul>
        </div>
        <div class="tab-right">

            <a href="#"><i class="fas fa-share-alt"></i> Share Project</a>
        </div>

    </div>

    <div class="tab-body">

        <ng-container *ngIf="activeTab == 'overview'">
            <div class="card mb-4">
                <div class="card-header">
                    Return
                </div>
                <div class="card-body">
                    <div class="overview-table">
                        <table cellspacing="0" cellpadding="0" class="table table-bordered">
                            <tr>
                              <td>&nbsp;</td>
                              <th>IRR</th>
                              <th class="text-center" colspan="2">Break Even</th>
                              <th class="text-center" colspan="3">Payback</th>
                              <th>Reference</th>
                            </tr>
                            <tr class="sm-row">
                              <td>&nbsp;</td>
                              <td class="text-center">%</td>
                              <td class="text-center">Years</td>
                              <td class="text-center">Date</td>
                              <td class="text-center">%</td>
                              <td class="text-center">Investment</td>
                              <td class="text-center">Cash Return</td>
                              <td class="text-center">Monthly</td>
                            </tr>
                            <tr>
                              <td>Project Return</td>
                              <td class="cell-info text-right">3.9</td>
                              <td class="text-right">14.6</td>
                              <td class="text-right">January 2031</td>
                              <td class="text-right">146.3</td>
                              <td class="text-right">-32,445,588</td>
                              <td class="text-right">47,458,211</td>
                              <td>Adjusted Free Cashflow</td>
                            </tr>
                            <tr>
                              <td>Equity Return</td>
                              <td class="text-right cell-info">6.1</td>
                              <td class="text-right">17.8</td>
                              <td class="text-right">April 2034</td>
                              <td class="text-right">217.6</td>
                              <td class="text-right">-7,934,338</td>
                              <td class="text-right">17,267,638</td>
                              <td>Cashflow to Equity</td>
                            </tr>
                            <tr>
                              <td>Payout Return</td>
                              <td class="text-right cell-info">5.4</td>
                              <td class="text-right">18.5</td>
                              <td class="text-right">December 2034</td>
                              <td class="text-right">217.6</td>
                              <td class="text-right">-7,934,338</td>
                              <td class="text-right">17,267,638</td>
                              <td>Payout</td>
                            </tr>
                          </table>
            
                    </div>
                </div>
              </div>
    
              <div class="card">
                <div class="card-header">
    
                    <div class="graph-table-header">
                        <ul class="graph-links">
                            <li class="active"><a href="#">Internal CF waterfall</a></li>
                            <li><a href="#">Internal CF waterfall (∑)</a></li>
                        </ul>
                        <div class="view-btn">
                            <ul class="graph-links">
                                <li class="active"><a href="#">Graphic</a></li>
                                <li><a href="#">Table</a></li>
                            </ul>
    
                        </div>
    
                    </div>
                   
                </div>
                <div class="card-body">
                        grah and table view
                </div>
              </div>
        </ng-container>
        <ng-container *ngIf="activeTab == 'fimo'">
            <app-fimo></app-fimo>
        </ng-container>


     
   

    </div>

</div>
