<div class="project-details">
    <div class="sub-header">
        <div class="row">
            <div class="col-md-6">
                <div class="header-left">
                    <div class="breadcrumb-nav">
                        <ul>
                            <li><a class="customLink">Projects</a></li>
                            <li><a >Wind Onshore DE (Demo)</a> </li>
                        </ul>
                    </div>
                    <div class="project-version">
                        <div class="form-row">
                            <div class="row align-items-center">
                                <div class="col-auto">Project Version</div>
                                <div class="col-auto">
                                    <select class="custom-select">
                                        <option>V112/3.45 MW - Energy Yield 1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
            <div class="col-md-6">
                <div class="sub-links">
                  <span class="circle-dot"></span>
                    <ul>
                        <li><a class="customLink">Project IRR 3.8%</a></li>
                        <li><a class="customLink">Equity IRR 3.8%</a></li>
                        <li><a class="customLink">Payout IRR 3.8%</a></li>
                        <li><a class="customLink">25 Years</a></li>
                        <li><a class="customLink">P-Value 75%</a></li>
                    </ul>

                </div>
          

            </div>
    
        </div>
    
    </div>

    <div class="app-tabs">
        <div class="tab-left">
            <ul>
                <li ngbDropdown>
                  <a class="customLink" ngbDropdownToggle><i class="fas fa-ellipsis-h"></i></a>

                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Copy Project</button>
                    <button ngbDropdownItem>Share Project</button>
                    <button ngbDropdownItem>Export Project</button>
                    <button ngbDropdownItem>Delete Project</button>
                    <button ngbDropdownItem>Share with Marketplace</button>
                  </div>

                </li>
                <li class="divider"></li>
                <li class="customLink"><a >Master</a> </li>
                <li [class.active]="activeTab=='overview'" class="customLink"><a (click)="toggleTab('overview')">Overview</a> </li>
                <li class="divider"></li>
                <li [class.active]="activeTab=='fimo'" class="customLink"><a (click)="toggleTab('fimo')">Fimo</a> </li>
                <li><a class="customLink">Production</a> </li>
                <li><a class="customLink">Sales</a> </li>
                <li><a class="customLink">Opex</a> </li>
                <li><a class="customLink">Campex</a> </li>
                <li><a class="customLink">Debt</a> </li>
                <li><a class="customLink">Taxes</a> </li>
                <li><a class="customLink">Transaction</a> </li>
                <li class="divider"></li>
                <li><a class="customLink">Templates</a> </li>
            </ul>
        </div>
        <div class="tab-right">

            <a ><i class="fas fa-share-alt"></i> Share Project</a>
        </div>

    </div>

    <div class="tab-body">

        <ng-container *ngIf="activeTab == 'overview'">
            <div class="card mb-4">
                <div class="card-header">
                    Return
                </div>
                <div class="card-body">
                    <div class="overview-table">
                        <table cellspacing="0" cellpadding="0" class="table table-bordered">
                            <tr>
                              <td>&nbsp;</td>
                              <th>IRR</th>
                              <th class="text-center" colspan="2">Break Even</th>
                              <th class="text-center" colspan="3">Payback</th>
                              <th>Reference</th>
                            </tr>
                            <tr class="sm-row">
                              <td>&nbsp;</td>
                              <td class="text-center">%</td>
                              <td class="text-center">Years</td>
                              <td class="text-center">Date</td>
                              <td class="text-center">%</td>
                              <td class="text-center">Investment</td>
                              <td class="text-center">Cash Return</td>
                              <td class="text-center">Monthly</td>
                            </tr>
                            <tr>
                              <td>Project Return</td>
                              <td class="cell-info text-right bold-text">3.9</td>
                              <td class="text-right">14.6</td>
                              <td class="text-right">January 2031</td>
                              <td class="text-right">146.3</td>
                              <td class="text-right">-32,445,588</td>
                              <td class="text-right">47,458,211</td>
                              <td class="text-center">Adjusted Free Cashflow</td>
                            </tr>
                            <tr>
                              <td>Equity Return</td>
                              <td class="text-right cell-info bold-text">6.1</td>
                              <td class="text-right">17.8</td>
                              <td class="text-right">April 2034</td>
                              <td class="text-right">217.6</td>
                              <td class="text-right">-7,934,338</td>
                              <td class="text-right">17,267,638</td>
                              <td class="text-center">Cashflow to Equity</td>
                            </tr>
                            <tr>
                              <td>Payout Return</td>
                              <td class="text-right cell-info bold-text">5.4</td>
                              <td class="text-right">18.5</td>
                              <td class="text-right">December 2034</td>
                              <td class="text-right">217.6</td>
                              <td class="text-right">-7,934,338</td>
                              <td class="text-right">17,267,638</td>
                              <td class="text-center">Payout</td>
                            </tr>
                          </table>
            
                    </div>
                </div>
            </div>
    
              <div class="card">
                <div class="card-header">
    
                    <div class="graph-table-header">
                        <ul class="graph-links">
                            <li class="active"><a >Internal CF waterfall</a></li>/
                            <li><a class="customLink">Internal CF waterfall (∑)</a></li>/
                            <li><a class="customLink">Internal CF waterfall (∑)</a></li>/
                            <li><a class="customLink">Uses & Sources</a></li>/
                            <li><a class="customLink">Uses & Sources (∑)</a></li>/
                            <li><a class="customLink">CFs</a></li>/
                            <li><a class="customLink">CFs (∑)</a></li>/
                            <li><a class="customLink">DSCR</a></li>/
                            <li><a class="customLink">Liquidity</a></li>
                        </ul>
                        <div class="view-btn">
                            <ul class="graph-links">
                              <!-- (click)="toggleViewType('table')" -->
                              <!-- (click)="toggleViewType('graph')" -->
                                <li [class.active]="activeViewType == 'graph'" class="cursor-pointer"><a >Graphic</a></li>/
                                <li [class.active]="activeViewType == 'table'" class="cursor-pointer"><a class="customLink">Table</a></li>
                            </ul>
    
                        </div>
    
                    </div>
                   
                </div>
                <div class="card-body">
                    <ng-container *ngIf="activeViewType == 'graph'">
                      <div style="display: inline-block; width: 100%;">

                        <canvas baseChart
                        height="50"
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"                        
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                      </canvas>
                      </div>
                   

                    </ng-container>
                    <ng-container *ngIf="activeViewType == 'table'">
                            <div class="table-responsive">
                                <table cellspacing="0" cellpadding="0" class="table table-bordered">
                                <tr>
                                    <th style="width: 200px;">&nbsp;</th>
                                    <th colspan="4">2021</th>
                                    <th colspan="4">2022</th>
                                    <th colspan="4">2023</th>
                                    <th colspan="4">2024</th>
                                    <th colspan="4">2025</th>
                                    <th colspan="4">2026</th>
                                    <th colspan="4">2027</th>
                                    <th colspan="4">2028</th>
                                    <th colspan="4">2029</th>
                                    <th colspan="4">2030</th>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td>Q1</td>
                                    <td>Q2</td>
                                    <td>Q3</td>
                                    <td>Q4</td>
                                    <td>Q1</td>
                                    <td>Q2</td>
                                    <td>Q3</td>
                                    <td>Q4</td>
                                    <td>Q1</td>
                                    <td>Q2</td>
                                    <td>Q3</td>
                                    <td>Q4</td>
                                    <td>Q1</td>
                                    <td>Q2</td>
                                    <td>Q3</td>
                                    <td>Q4</td>
                                    <td>Q1</td>
                                    <td>Q2</td>
                                    <td>Q3</td>
                                    <td>Q4</td>
                                    <td>Q1</td>
                                    <td>Q2</td>
                                    <td>Q3</td>
                                    <td>Q4</td>
                                    <td>Q1</td>
                                    <td>Q2</td>
                                    <td>Q3</td>
                                    <td>Q4</td>
                                    <td>Q1</td>
                                    <td>Q2</td>
                                    <td>Q3</td>
                                    <td>Q4</td>
                                    <td>Q1</td>
                                    <td>Q2</td>
                                    <td>Q3</td>
                                    <td>Q4</td>
                                    <td>Q1</td>
                                    <td>Q2</td>
                                    <td>Q3</td>
                                    <td>Q4</td>
                                  </tr>
                                  <tr>
                                    <td>Sales</td>
                                    <td class="text-right">0</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">3</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3.25</td>
                                    <td class="text-right">3</td>
                                    <td class="text-right">2.75</td>
                                    <td class="text-right">3</td>
                                    <td class="text-right">3</td>
                                    <td class="text-right">2.75</td>
                                    <td class="text-right">2.75</td>
                                    <td class="text-right">2.75</td>
                                    <td class="text-right">2.75</td>
                                    <td class="text-right">2.5</td>
                                    <td class="text-right">2.5</td>
                                    <td class="text-right">2.5</td>
                                    <td class="text-right">0</td>
                                  </tr>
                                  <tr>
                                    <td>Opex (Internal)</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">2</td>
                                  </tr>
                                  <tr>
                                    <td>Tax</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                  </tr>
                                  <tr>
                                    <td>Capex (internal)</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                    <td class="text-right">0.5</td>
                                  </tr>
                                  <tr>
                                    <td>Transaction Expenditure (Internal)</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                  </tr>
                                  <tr>
                                    <td>Debt Redemption</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                  </tr>
                                  <tr>
                                    <td>Debt Interest</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                  </tr>
                                  <tr>
                                    <td>Reserve Account (Internal)</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                    <td class="text-right">0.12</td>
                                  </tr>
                                  <tr>
                                    <td>Open Items (Internal)</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                    <td class="text-right">0.15</td>
                                  </tr>
                                  <tr>
                                    <td>Shareholder Loan Service</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                  </tr>
                                  <tr>
                                    <td>Distribution</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                    <td class="text-right">0.4</td>
                                  </tr>
                                  <tr>
                                    <td>Change in Liquidity Gap</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                    <td class="text-right">0.2</td>
                                  </tr>
                                  <tr>
                                    <td>Change in Liquidity Trap</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                    <td class="text-right">0.3</td>
                                  </tr>
                                 
                                </table>
                                
                            </div>

                    </ng-container>

                      
                </div>
              </div>
        </ng-container>
        <ng-container *ngIf="activeTab == 'fimo'">
          <div class="card">
            <div class="card-header">

                <div class="graph-table-header">
                    <ul class="graph-links">
                        <li><a class="customLink">Profit & Loss</a></li>/
                        <li><a class="customLink">Cashflow</a></li>/
                        <li class="active"><a >Balancesheet</a></li>
                    </ul>
                    <div class="view-btn">
                        <ul class="graph-links">
                          <!-- (click)="toggleViewType('table')" -->
                          <!-- (click)="toggleViewType('graph')" -->
                            <li [class.active]="activeViewType == 'graph'" class="cursor-pointer"><a class="customLink">Graphic</a></li>/
                            <li [class.active]="activeViewType == 'table'" class="cursor-pointer"><a >Table</a></li>
                        </ul>

                    </div>

                </div>
                
            </div>
            <div class="card-body">
              <app-fimo></app-fimo>
            </div>
          </div>
        </ng-container>


     
   

    </div>

</div>
