<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-blue">
        <a routerLink="/marketplace" class="navbar-brand">MARKETPLACE</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                
            </div>
            <div class="navbar-nav ml-auto">
                <a routerLink="/marketplace" class="nav-item nav-link mr-40">INVEST</a>
                <a routerLink="/project-valuation" class="nav-item nav-link mr-66">RAISE CAPITAL</a>

                <a href="#" class="nav-item nav-link mr-35">LOGIN</a>
                <a href="#" class="nav-item nav-link">REGISTER</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row coverBg">
            <div class="col-md-12" style="height: 108px">
            </div>
            <div class="col-md-12" style="height: 155px;color: #fff;">
                <h1 class="bold">Getting financed + investing</h1>
                <h1 class="bold">in Renewable Energy has</h1>
                <h1 class="bold">never been easier</h1>
            </div>
            <div class="col-md-12" style="height: 336px;">
                <div class="row" style="height: 100%;">
                    <div class="col-md-4">
                        <p style="color: #4d425e;padding-top: 6px;">
                            We bring all the players in the ecosystem
                            together making collaboration easier so you 
                            can see your return on investments faster
                        </p>
                        <button class="learnMoreBtn">LEARN MORE</button>
                    </div>
                    <div class="col-md-2 box">
                        <a class="aLink" routerLink="/marketplace">Invest</a>
                    </div>
                    <div class="col-md-2 box">
                        <a class="aLink" routerLink="/project-valuation">Raise Capital</a>
                    </div>
                    <div class="col-md-2 box">
                        Trade Shares
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-50 mb-48">
            <div class="col-md-3 card-box">
                <div class="card-text">
                    <span>Wind Turf Sector IV</span><br>
                    <span>Location: Krong Bavet, CAMBODIA</span>
                </div>
                <div style="float: right;">
                    <fa-icon class="card-ic" [icon]="['fas', 'plus']" [fixedWidth]="true" routerLink="/project-valuation"></fa-icon>
                    <fa-icon class="card-ic" [icon]="['fas', 'redo']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic"  [icon]="['fas', 'bookmark']" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="card-circle"></div>
                <button class="card-button">
                    <a class="cardLink" routerLink="/marketplace">View Deal</a>
                    <i class="fa fa-camera"></i>
                </button>
            </div>
            <div class="col-md-3 card-box">
                <div class="card-text">
                    <span>Wind Turf Sector IV</span><br>
                    <span>Location: Krong Bavet, CAMBODIA</span>
                </div>
                <div style="float: right;">
                    <fa-icon routerLink="/project-valuation" class="card-ic" [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic" [icon]="['fas', 'redo']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic"  [icon]="['fas', 'bookmark']" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="card-circle"></div>
                <button class="card-button">
                    <a class="cardLink" routerLink="/marketplace">View Deal</a>
                    <i class="fa fa-camera"></i>
                </button>
            </div>
            <div class="col-md-3 card-box">
                <div class="card-text">
                    <span>Wind Turf Sector IV</span><br>
                    <span>Location: Krong Bavet, CAMBODIA</span>
                </div>
                <div style="float: right;">
                    <fa-icon routerLink="/project-valuation" class="card-ic" [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic" [icon]="['fas', 'redo']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic"  [icon]="['fas', 'bookmark']" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="card-circle"></div>
                <button class="card-button">
                    <a class="cardLink" routerLink="/marketplace">View Deal</a>
                    <i class="fa fa-camera"></i>
                </button>
            </div>
            <div class="col-md-3 card-box">
                <div class="card-text">
                    <span>Wind Turf Sector IV</span><br>
                    <span>Location: Krong Bavet, CAMBODIA</span>
                </div>
                <div style="float: right;">
                    <fa-icon routerLink="/project-valuation" class="card-ic" [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic" [icon]="['fas', 'redo']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic"  [icon]="['fas', 'bookmark']" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="card-circle"></div>
                <button class="card-button">
                    <a class="cardLink" routerLink="/marketplace">View Deal</a>
                    <i class="fa fa-camera"></i>
                </button>
            </div>
            <div class="col-md-3 card-box">
                <div class="card-text">
                    <span>Wind Turf Sector IV</span><br>
                    <span>Location: Krong Bavet, CAMBODIA</span>
                </div>
                <div style="float: right;">
                    <fa-icon routerLink="/project-valuation" class="card-ic" [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic" [icon]="['fas', 'redo']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic"  [icon]="['fas', 'bookmark']" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="card-circle"></div>
                <button class="card-button">
                    <a class="cardLink" routerLink="/marketplace">View Deal</a>
                    <i class="fa fa-camera"></i>
                </button>
            </div>
            <div class="col-md-3 card-box">
                <div class="card-text">
                    <span>Wind Turf Sector IV</span><br>
                    <span>Location: Krong Bavet, CAMBODIA</span>
                </div>
                <div style="float: right;">
                    <fa-icon routerLink="/project-valuation" class="card-ic" [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic" [icon]="['fas', 'redo']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic"  [icon]="['fas', 'bookmark']" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="card-circle"></div>
                <button class="card-button">
                    <a class="cardLink" routerLink="/marketplace">View Deal</a>
                    <i class="fa fa-camera"></i>
                </button>
            </div>
        </div>
    </div>
</div>