.bg-blue {
    background-color: #232239 !important;
}
nav a,nav a:hover{
    color: #fff;
}
nav .navbar-nav a,nav .navbar-nav a:hover{
    color: #fff;
}
.box{
    background-color: rgb(204, 53, 30);
    margin-left: 12px;
    height: 160px;
    margin-top: 10px;
    border-radius: 25px;
}