<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-blue">
        <a href="#" class="navbar-brand">MARKETPLACE</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link mr-40">INVEST</a>
                <a href="#" class="nav-item nav-link mr-66">RAISE CAPITAL</a>

                <a href="#" class="nav-item nav-link mr-35">LOGIN</a>
                <a href="#" class="nav-item nav-link">REGISTER</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="height: 150px;background: red;">
            </div>
            <div class="col-md-12" style="height: 155px;background: black;color: #fff;">
                <h1>Getting financed + investing</h1>
                <h1>in Renewable Energy has</h1>
                <h1>never been easier</h1>
            </div>
            <div class="col-md-12" style="height: 186px;background: orange;">
                <div class="row" style="height: 100%;">
                    <div class="col-md-4">
                        <p style="color: #4d425e;padding-top: 6px;">
                            We bring all the players in the ecosystem
                            together making collaboration easier so you 
                            can see your return on investments faster
                        </p>

                    </div>
                    <div class="col-md-2 box">
                    </div>
                    <div class="col-md-2 box">
                    </div>
                    <div class="col-md-2 box">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>