@import '../../../assets/scss/main.scss';

.website-header {
    background-color: $theme-color;
      
        .navbar {
            .nav-item {
                text-transform: uppercase;
                a {
                    color: #fff;
                    &:hover {
                        color: $red-color;
                    }
                }
            }
        } 

      @media screen and (min-width: 992px) {
    
        .logo {
          position: relative;
        }
        .navbar-light .navbar-nav .nav-link {
          padding-right: 75px;
        }
        .nav-left {
          padding-left: 30px;
        }
      }
      @media (min-width: 992px) {
        .navbar-toggleable-md .navbar-toggler {
            display: none;
        }
        .navbar-toggleable-md .navbar-collapse {
            display: -webkit-box!important;
            display: -webkit-flex!important;
            display: -ms-flexbox!important;
            display: flex!important;
            width: 100%;
        }
    }
}
.search_ic{
    position: absolute;
    margin-top: 11px;
    margin-left: 12px;
}
#searchInp{
    width: 242px;
    padding-left: 36px;
}
  .custom-circle{
    border-radius: 50%;
    background-color: #fff;
    height: 28px;
    width: 30px;
    margin-top: 5px;
    margin-right: 4px;
  }
  .sidebar-nav-circle{
    border-radius: 50%;
    background-color: #fff;
    height: 28px;
    width: 30px;
    margin-top: 5px;
    margin-right: 4px;
    color: #000;
  }
  .custom-circle-nav-link{
    color: #000 !important;
    line-height: 15px;
    font-weight: bold;
  }
  .fs-24{
      font-size: 24px;
  }
  .nav-buttons{
    border: 1px solid;
    border-radius: 4px;
    margin-right: 34px;
    width: 200px;
    text-align: center;
  }
  .cancelAll{
      color: #f88888;
      float: right;
  }
  .nav-item-tag{
    float: right;
    background-color: #dcd9d9;
    border-radius: 4px;
    color: #000;
    width: 74px;
    text-align: center;
  }








.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
  #sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #25253a;
    color: #fff;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    border-top: 1px solid;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
}

#sidebar ul.components {
    // padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: #fff;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #25253a;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    // background: #6d7fcc;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}