@import '../../../assets/scss/main.scss';

.website-header {
    background-color: $theme-color;
      
        .navbar {
            .nav-item {
                text-transform: uppercase;
                a {
                    color: #fff;
                    &:hover {
                        color: $red-color;
                    }
                }
            }
        } 

      @media screen and (min-width: 992px) {
    
        .logo {
          position: relative;
        }
        .navbar-light .navbar-nav .nav-link {
          padding-right: 75px;
        }
        .nav-left {
          padding-left: 30px;
        }
      }
      @media (min-width: 992px) {
        .navbar-toggleable-md .navbar-toggler {
            display: none;
        }
        .navbar-toggleable-md .navbar-collapse {
            display: -webkit-box!important;
            display: -webkit-flex!important;
            display: -ms-flexbox!important;
            display: flex!important;
            width: 100%;
        }
    }
}
.search_ic{
    position: absolute;
    margin-top: 11px;
    margin-left: 12px;
}
#searchInp{
    width: 242px;
}
#searchInp::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    padding-left: 22px;
  }
  
  #searchInp:-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 22px;

  }
  
  #searchInp::-ms-input-placeholder { /* Microsoft Edge */
    padding-left: 22px;

  }
  .custom-circle{
    border-radius: 50%;
    background-color: #fff;
    height: 28px;
    width: 30px;
    margin-top: 5px;
    margin-right: 4px;
  }
  .custom-circle-nav-link{
    color: #000 !important;
    line-height: 15px;
    font-weight: bold;
  }
  .fs-24{
      font-size: 24px;
  }
  .nav-buttons{
    border: 1px solid;
    border-radius: 4px;
    margin-right: 34px;
    width: 200px;
    text-align: center;
  }
