<div class="website-header">
    <nav class="navbar navbar-expand-md navbar-dark  main-nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100">
                <ul class="nav navbar-nav w-100">
                    <li class="nav-item active pr-78">
                        <a class="nav-link" routerLink="marketplace"><span class="bold-text">Market</span>Center</a>
                    </li>
                    <li>
                        <i class="fas fa-search search_ic"></i>
                        <input type="text" class="form-control" id="searchInp" placeholder="Search">
                    </li>
                </ul>
            </div>
           
            <div class="collapse navbar-collapse w-100">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-buttons">Bond Stream</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-buttons">Market Maker</a>
                    </li>
                    <li class="nav-item custom-circle">
                        <a class="nav-link custom-circle-nav-link">T></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link notify">
                            <i class="fas fa-bell fs-24"></i>
                            <span class="notify badge">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fas fa-cog fs-24"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</div>
<!-- <div class="page-wrapper">
    <router-outlet></router-outlet>
</div> -->
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="active">
                <a><i class="fas fa-rss"></i> Casts (3)</a>
            </li>
            <li>
                <a><i class="fas fa-flag"></i> IOIs (0)</a>
            </li>
            <li>
                <a>
                    <i class="fas fa-bolt"></i> Orders
                    <span class="cancelAll"><i class="fas fa-times-circle"></i>
                        Cancel All
                    </span>
                </a>
                <ul class="list-unstyled" id="OrdersSubmenu">
                    <li>
                        <a>
                            <span>S></span>
                            Bid & Offer
                            <span class="nav-item-tag">AVGO 24</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>S></span>
                            Bid
                            <span class="nav-item-tag">HSBC 25</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    Trades
                </a>
                <ul class="list-unstyled" id="TradeSubmenu">
                    <li>
                        <a>Sell 2mm
                            <span class="nav-item-tag">AAPL 23</span>
                        </a>
                    </li>
                    <li>
                        <a>Sell 2mm
                            <span class="nav-item-tag">AVGO 29</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fas fa-at"></i> Negotiatons</a>
                <ul class="list-unstyled" id="TradeSubmenu">
                    <li>
                        <a>Eve C
                            <span class="nav-item-tag">HSBC 25</span>
                        </a>
                    </li>
                    <li>
                        <a>Stephanie C
                            <span class="nav-item-tag">AVGO 24</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

</div>