<div class="website-header">
    <nav class="navbar navbar-expand-md navbar-dark  main-nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100">
                <ul class="nav navbar-nav w-100">
                    <li class="nav-item active pr-66">
                        <a class="nav-link" routerLink="marketplace">Marketplace</a>
                    </li>
                    <li>
                        <i class="fas fa-search search_ic"></i>
                        <input type="text" class="form-control" id="searchInp" placeholder="Search">
                    </li>
                </ul>
            </div>
           
            <div class="collapse navbar-collapse w-100">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-buttons">Bond Stream</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-buttons">Market Maker</a>
                    </li>
                    <li class="nav-item custom-circle">
                        <a class="nav-link custom-circle-nav-link">T></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fas fa-bell fs-24"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fas fa-cog fs-24"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</div>
<div class="page-wrapper">
    <router-outlet></router-outlet>
</div>