<div class="gird-section">
    <div class="filter-links">
        <ul>
            <li>Filter <i class="fas fa-filter"></i></li>
            <li><a class="customLink">My Projects</a></li>
            <li><a class="customLink">Last Day</a></li>
            <li><a class="customLink">Last Week</a></li>
            <li><a class="customLink">Last Month</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="gird-search">
                <input type="text" class="form-control" placeholder="Search">
            </div>

        </div>
        <div class="col-md-4 text-right">
            <a  class="btn btn-link">Import Project</a>
            <a  class="btn btn-primary">New Project</a>

        </div>

    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Project <i class="fas fa-sort-down"></i></th>
                    <th>Tags <i class="fas fa-sort-down"></i></th>
                    <th>Info <i class="fas fa-sort-down"></i></th>
                    <th>IRR <i class="fas fa-sort-down"></i></th>
                    <th>Changes <i class="fas fa-sort-down"></i></th>
                    <th colspan="2">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-sm">
                              <li class="page-item active"><a class="page-link" href="#">5</a></li>
                              <li class="page-item"><a class="page-link" href="#">10</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                            </ul>
                          </nav>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a routerLink="/project-valuation-details">GM Tutorial EN (Wind Germany)</a>
                        <div class="info">
                            Turnkey - Wind - DE
                        </div>
                    </td>
                    <td>
                        <span class="tag-label">Demo Project</span>
                    </td>
                    <td>
                        <div class="info">
                            <i class="fas fa-plug"></i> 13.80 <span class="ml-1">MW</span>
                        </div>
                        <div class="info">
                            <i class="fas fa-chart-area"></i>  34,023 <span class="ml-1">MWh/a</span>
                        </div>

                        <div class="info">
                            <i class="fas fa-dollar-sign"></i>  25,500 <span class="ml-1">kEUR</span>
                        </div>

                    </td>
                    <td>
                        <div class="info">
                            <span class="mr-1">PRJ</span> 4.6% 
                        </div>
                        <div class="info">
                            <span class="mr-1">EQTY</span> 8.6%
                        </div>

                        <div class="info">
                            <span class="mr-1">PAY</span> 4.6%
                        </div>
                    </td>
                    <td>
                        <div class="user-info">
                            domain@email.com<br>
                            2/8/17 9:28 AM<br>
                            <span>1 User</span> 
                        </div>
                     

                    </td>
                    <td class="v-algin-middle">
                        <a  class="share-btn">Share</a>
                    </td>
                    <td class="v-algin-middle">
                        <a>
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="/project-valuation-details">GM Tutorial EN (Wind Germany)</a>
                        <div class="info">
                            Turnkey - Wind - DE
                        </div>
                    </td>
                    <td>
                        <span class="tag-label">Demo Project</span>
                    </td>
                    <td>
                        <div class="info">
                            <i class="fas fa-plug"></i> 13.80 <span class="ml-1">MW</span>
                        </div>
                        <div class="info">
                            <i class="fas fa-chart-area"></i>  34,023 <span class="ml-1">MWh/a</span>
                        </div>

                        <div class="info">
                            <i class="fas fa-dollar-sign"></i>  25,500 <span class="ml-1">kEUR</span>
                        </div>

                    </td>
                    <td>
                        <div class="info">
                            <span class="mr-1">PRJ</span> 4.6% 
                        </div>
                        <div class="info">
                            <span class="mr-1">EQTY</span> 8.6%
                        </div>

                        <div class="info">
                            <span class="mr-1">PAY</span> 4.6%
                        </div>
                    </td>
                    <td>
                        <div class="user-info">
                            domain@email.com<br>
                            2/8/17 9:28 AM<br>
                            <span>1 User</span> 
                        </div>
                     

                    </td>
                    <td class="v-algin-middle">
                        <a  class="share-btn">Share</a>
                    </td>
                    <td class="v-algin-middle">
                        <a>
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="/project-valuation-details">GM Tutorial EN (Wind Germany)</a>
                        <div class="info">
                            Turnkey - Wind - DE
                        </div>
                    </td>
                    <td>
                        <span class="tag-label">Demo Project</span>
                    </td>
                    <td>
                        <div class="info">
                            <i class="fas fa-plug"></i> 13.80 <span class="ml-1">MW</span>
                        </div>
                        <div class="info">
                            <i class="fas fa-chart-area"></i>  34,023 <span class="ml-1">MWh/a</span>
                        </div>

                        <div class="info">
                            <i class="fas fa-dollar-sign"></i>  25,500 <span class="ml-1">kEUR</span>
                        </div>

                    </td>
                    <td>
                        <div class="info">
                            <span class="mr-1">PRJ</span> 4.6% 
                        </div>
                        <div class="info">
                            <span class="mr-1">EQTY</span> 8.6%
                        </div>

                        <div class="info">
                            <span class="mr-1">PAY</span> 4.6%
                        </div>
                    </td>
                    <td>
                        <div class="user-info">
                            domain@email.com<br>
                            2/8/17 9:28 AM<br>
                            <span>1 User</span> 
                        </div>
                     

                    </td>
                    <td class="v-algin-middle">
                        <a  class="share-btn">Share</a>
                    </td>
                    <td class="v-algin-middle">
                        <a>
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

</div>