<div class="gird-section">
    <div class="filter-links">
        <ul>
            <li>Filter</li>
            <li><a href="#">My Projects</a></li>
            <li><a href="#">Last Day</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="gird-search">
                <input type="text" class="form-control" placeholder="Search">
            </div>

        </div>
        <div class="col-md-4 text-right">
            <a href="#" class="btn btn-link">Import Project</a>
            <a href="#" class="btn btn-primary">New Project</a>

        </div>

    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Tags</th>
                    <th>Info</th>
                    <th>IRR</th>
                    <th>Changes</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">GM Tutorial EN (Wind Germany)</a>
                        <div class="info">
                            Turnkey - Wind - DE
                        </div>
                    </td>
                    <td>
                        <span class="tag-label">Demo Project</span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>

        </table>

    </div>

</div>