@import "../../../assets/scss/main.scss";

.marketplace {
    margin: 50px 0;
}
.marketplace-card {
    box-shadow: 1px 1px 7px 3px rgb(0 0 0 / 22%);
    .marketplace-img {
        img {
            max-width: 100%;
        }
    }
    .mp-header {
        padding: 20px;
        padding-bottom: 0;
        .basic-info {
            display: flex;
            h3 {
                font-size: 24px;
            }
            .mp-badage {
                background: $theme-color;
                margin-left: auto;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .views-counts {
            text-align: right;
            font-size: 14px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }
    }
    .mp-body {
        padding: 20px;
    }
}
.summary-label {
    ul {
        display:flex;
        list-style: none;
        margin: 0 0 5px;
        padding: 0;
    }
    li {
        text-transform: uppercase;
        font-size: 14px;
        &:first-child {
            font-weight: 600;
            color: $theme-color;
            margin-right: 10px;
        }
        &:last-child {
            span {
                opacity: 0.1;
                margin-right: 10px;
                &.active {
                    opacity: 1;
                }
            }
        }
        &.seeking {
            text-align: right;
            width: 100%;
            font-size: 16px;
        }
        &.right-value {
            text-align: right;
            width: 49%;
        }
    }
}
.counter-label {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    .counter-item {
        text-align: center;
        h3 {
            font-size: 24px;
            margin-bottom: 0;
            font-weight: 700;
        }
        h4 {
            font-size: 16px;
        }
    }
}
.equity {
    .equity-pers {
        display: flex;
        div {
            text-align: center;
            font-size: 14px;
        }
    }
    .equity-label {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: #cacaca;
    }
    .progress {
        background-color: #545696; 
    }
    .progress-bar {
        background-color: #303055;
    }
}
