<div class="marketplace">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <div class="marketplace-card">
                    <div class="tool-links">
                        <a [routerLink]="'/project-valuation'"><i class="fas fa-plus"></i></a>
                        <a ><i class="fas fa-redo"></i></a>
                        <a ><i class="fas fa-bookmark"></i></a>
                    </div>
                    <div class="marketplace-img">
                        <img src="assets/images/wind-img-2.jpg">
                    </div>
                    <div class="mp-header">
                        <div class="basic-info">
                            <div class="title">
                                <h3>Windy Turf Sector IV</h3>
                                <div class="summary-label">
                                    <ul>
                                        <li>Location:</li>
                                        <li>Krong  Bavet, Cambodia</li>
                                    </ul>
                                    <ul>
                                        <li>Company:</li>
                                        <li>Nutmeg Inc</li>
                                    </ul>
                                </div>
                
                            </div>
                            <div class="mp-badage">
                                <i class="icon wind"></i>
                            </div>        
                        </div>
                        <div class="views-counts">
                            <i class="far fa-eye"></i>  109 Views
                        </div>  
                    </div>
                    <div class="mp-body">
                        <div class="summary-label">
                            <ul>
                                <li>Status:</li>
                                <li>
                                    <span class="active">Development</span>
                                    <span>Construction</span>
                                    <span>Operational</span>
                                </li>
                            </ul>
                            <ul>
                                <li>PPA Status:</li>
                                <li>
                                    <span>In Negotiation</span>
                                    <span class="active">Signed</span>
                                </li>
                            </ul>
                            <ul>
                                <li>Seeking:</li>
                                <li class="seeking">
                                    <div>
                                        USD $540,000/ MW
                                    </div>
                                </li>
                            </ul>
                
                        </div>
                        <div class="equity">
                            <div class="equity-pers">
                                <div style="width: 60%;">60%</div>
                                <div style="width: 40%;">40%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="equity-label">
                                <div>Equity</div>
                                <div>Debit</div>
                            </div>
                        </div>
                        <div class="counter-label">
                            <div class="counter-item">
                                <h3>30</h3>
                                <h4>WM</h4>
                            </div>
                            <div class="counter-item">
                                <h3>20</h3>
                                <h4>Investors</h4>
                            </div>
                            <div class="counter-item">
                                <h3>40%</h3>
                                <h4>Founds</h4>
                            </div>
                            <div class="counter-item">
                                <h3>12.5%</h3>
                                <h4>Expected IRR</h4>
                            </div>
                            
                        </div>

                        <div class="summary-label">
                            <ul>
                                <li>Security Token:</li>
                                <li></li>
                            </ul>
                            <ul>
                                <li>Expected Insurance Date:</li>
                                <li class="right-value">
                                    <div>
                                        10 Feb
                                    </div>
                                </li>
                            </ul>
                
                        </div>
                
                
                    </div>
                    <div class="mp-footer">
                        <a >Learn More</a>
                        <div>
                        <ul>
                            <li><a >Register to Stay Updated</a></li>
                            <li><a >Login</a></li>
                        </ul>
                        </div>
                    </div>
                
                
                </div>

            </div>
            <div class="col-md-3">

                <div class="marketplace-card">
                    <div class="tool-links">
                        <a [routerLink]="'/project-valuation'"><i class="fas fa-plus"></i></a>
                        <a ><i class="fas fa-redo"></i></a>
                        <a ><i class="fas fa-bookmark"></i></a>
                    </div>
                    <div class="marketplace-img">
                        <img src="assets/images/wind-img-4.jpg">
                    </div>
                    <div class="mp-header">
                        <div class="basic-info">
                            <div class="title">
                                <h3>Windy Turf Sector IV</h3>
                                <div class="summary-label">
                                    <ul>
                                        <li>Location:</li>
                                        <li>Krong  Bavet, Cambodia</li>
                                    </ul>
                                    <ul>
                                        <li>Company:</li>
                                        <li>Nutmeg Inc</li>
                                    </ul>
                                </div>
                
                            </div>
                            <div class="mp-badage">
                                <i class="icon wind"></i>
                            </div>        
                        </div>
                        <div class="views-counts">
                            <i class="far fa-eye"></i>  109 Views
                        </div>  
                    </div>
                    <div class="mp-body">
                        <div class="summary-label">
                            <ul>
                                <li>Status:</li>
                                <li>
                                    <span class="active">Development</span>
                                    <span>Construction</span>
                                    <span>Operational</span>
                                </li>
                            </ul>
                            <ul>
                                <li>PPA Status:</li>
                                <li>
                                    <span>In Negotiation</span>
                                    <span class="active">Signed</span>
                                </li>
                            </ul>
                            <ul>
                                <li>Seeking:</li>
                                <li class="seeking">
                                    <div>
                                        USD $540,000/ MW
                                    </div>
                                </li>
                            </ul>
                
                        </div>
                        <div class="equity">
                            <div class="equity-pers">
                                <div style="width: 60%;">60%</div>
                                <div style="width: 40%;">40%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="equity-label">
                                <div>Equity</div>
                                <div>Debit</div>
                            </div>
                        </div>
                        <div class="counter-label">
                            <div class="counter-item">
                                <h3>30</h3>
                                <h4>WM</h4>
                            </div>
                            <div class="counter-item">
                                <h3>20</h3>
                                <h4>Investors</h4>
                            </div>
                            <div class="counter-item">
                                <h3>40%</h3>
                                <h4>Founds</h4>
                            </div>
                            <div class="counter-item">
                                <h3>12.5%</h3>
                                <h4>Expected IRR</h4>
                            </div>
                            
                        </div>

                        <div class="summary-label">
                            <ul>
                                <li>Security Token:</li>
                                <li></li>
                            </ul>
                            <ul>
                                <li>Expected Insurance Date:</li>
                                <li class="right-value">
                                    <div>
                                        10 Feb
                                    </div>
                                </li>
                            </ul>
                
                        </div>
                
                
                    </div>
                    <div class="mp-footer">
                        <a >Learn More</a>
                        <div>
                        <ul>
                            <li><a >Register to Stay Updated</a></li>
                            <li><a >Login</a></li>
                        </ul>
                        </div>
                    </div>
                
                
                </div>

            </div>
            <div class="col-md-3">

                <div class="marketplace-card">
                    <div class="tool-links">
                        <a [routerLink]="'/project-valuation'"><i class="fas fa-plus"></i></a>
                        <a ><i class="fas fa-redo"></i></a>
                        <a ><i class="fas fa-bookmark"></i></a>
                    </div>
                    <div class="marketplace-img">
                        <img src="assets/images/wind-img-1.jpg">
                    </div>
                    <div class="mp-header">
                        <div class="basic-info">
                            <div class="title">
                                <h3>Windy Turf Sector IV</h3>
                                <div class="summary-label">
                                    <ul>
                                        <li>Location:</li>
                                        <li>Krong  Bavet, Cambodia</li>
                                    </ul>
                                    <ul>
                                        <li>Company:</li>
                                        <li>Nutmeg Inc</li>
                                    </ul>
                                </div>
                
                            </div>
                            <div class="mp-badage">
                                <i class="icon wind"></i>
                            </div>        
                        </div>
                        <div class="views-counts">
                            <i class="far fa-eye"></i>  109 Views
                        </div>  
                    </div>
                    <div class="mp-body">
                        <div class="summary-label">
                            <ul>
                                <li>Status:</li>
                                <li>
                                    <span class="active">Development</span>
                                    <span>Construction</span>
                                    <span>Operational</span>
                                </li>
                            </ul>
                            <ul>
                                <li>PPA Status:</li>
                                <li>
                                    <span>In Negotiation</span>
                                    <span class="active">Signed</span>
                                </li>
                            </ul>
                            <ul>
                                <li>Seeking:</li>
                                <li class="seeking">
                                    <div>
                                        USD $540,000/ MW
                                    </div>
                                </li>
                            </ul>
                
                        </div>
                        <div class="equity">
                            <div class="equity-pers">
                                <div style="width: 60%;">60%</div>
                                <div style="width: 40%;">40%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="equity-label">
                                <div>Equity</div>
                                <div>Debit</div>
                            </div>
                        </div>
                        <div class="counter-label">
                            <div class="counter-item">
                                <h3>30</h3>
                                <h4>WM</h4>
                            </div>
                            <div class="counter-item">
                                <h3>20</h3>
                                <h4>Investors</h4>
                            </div>
                            <div class="counter-item">
                                <h3>40%</h3>
                                <h4>Founds</h4>
                            </div>
                            <div class="counter-item">
                                <h3>12.5%</h3>
                                <h4>Expected IRR</h4>
                            </div>
                            
                        </div>

                        <div class="summary-label">
                            <ul>
                                <li>Security Token:</li>
                                <li></li>
                            </ul>
                            <ul>
                                <li>Expected Insurance Date:</li>
                                <li class="right-value">
                                    <div>
                                        10 Feb
                                    </div>
                                </li>
                            </ul>
                
                        </div>
                
                
                    </div>
                    <div class="mp-footer">
                        <a >Learn More</a>
                        <div>
                        <ul>
                            <li><a >Register to Stay Updated</a></li>
                            <li><a >Login</a></li>
                        </ul>
                        </div>
                    </div>
                
                
                </div>

            </div>
            <div class="col-md-3">
                <div class="marketplace-card">
                    <div class="tool-links">
                        <a [routerLink]="'/project-valuation'"><i class="fas fa-plus"></i></a>
                        <a ><i class="fas fa-redo"></i></a>
                        <a ><i class="fas fa-bookmark"></i></a>
                    </div>
                    <div class="marketplace-img">
                        <img src="assets/images/wind-img-3.jpg">
                    </div>
                    <div class="mp-header">
                        <div class="basic-info">
                            <div class="title">
                                <h3>Windy Turf Sector IV</h3>
                                <div class="summary-label">
                                    <ul>
                                        <li>Location:</li>
                                        <li>Krong  Bavet, Cambodia</li>
                                    </ul>
                                    <ul>
                                        <li>Company:</li>
                                        <li>Nutmeg Inc</li>
                                    </ul>
                                </div>
                
                            </div>
                            <div class="mp-badage">
                                <i class="icon wind"></i>
                            </div>        
                        </div>
                        <div class="views-counts">
                            <i class="far fa-eye"></i>  109 Views
                        </div>  
                    </div>
                    <div class="mp-body">
                        <div class="summary-label">
                            <ul>
                                <li>Status:</li>
                                <li>
                                    <span class="active">Development</span>
                                    <span>Construction</span>
                                    <span>Operational</span>
                                </li>
                            </ul>
                            <ul>
                                <li>PPA Status:</li>
                                <li>
                                    <span>In Negotiation</span>
                                    <span class="active">Signed</span>
                                </li>
                            </ul>
                            <ul>
                                <li>Seeking:</li>
                                <li class="seeking">
                                    <div>
                                        USD $540,000/ MW
                                    </div>
                                </li>
                            </ul>
                
                        </div>
                        <div class="equity">
                            <div class="equity-pers">
                                <div style="width: 60%;">60%</div>
                                <div style="width: 40%;">40%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="equity-label">
                                <div>Equity</div>
                                <div>Debit</div>
                            </div>
                        </div>
                        <div class="counter-label">
                            <div class="counter-item">
                                <h3>30</h3>
                                <h4>WM</h4>
                            </div>
                            <div class="counter-item">
                                <h3>20</h3>
                                <h4>Investors</h4>
                            </div>
                            <div class="counter-item">
                                <h3>40%</h3>
                                <h4>Founds</h4>
                            </div>
                            <div class="counter-item">
                                <h3>12.5%</h3>
                                <h4>Expected IRR</h4>
                            </div>
                            
                        </div>

                        <div class="summary-label">
                            <ul>
                                <li>Security Token:</li>
                                <li></li>
                            </ul>
                            <ul>
                                <li>Expected Insurance Date:</li>
                                <li class="right-value">
                                    <div> 10 Feb</div>
                                </li>
                            </ul>
                
                        </div>
                
                
                    </div>
                    <div class="mp-footer">
                        <a >Learn More</a>
                        <div>
                        <ul>
                            <li><a >Register to Stay Updated</a></li>
                            <li><a >Login</a></li>
                        </ul>
                        </div>
                    </div>
                
                
                </div>

            </div>

        </div>

    </div>


</div>