
<div class="home-banner">

    <div class="container-fluid">
        <div class="row">
                <div class="col-md-5">
                    <div class="banner-caption">
                        <div class="banner-logo">
                            <img src="assets/images/banner-logo.png" alt="">
                        </div>
                        <h2>Getting financed + investing <br>
                            in Renewable Energy has<br>
                            never been easier</h2>

                            <p>We bring all the players in the ecosystem together making collaboration easier so you can see your return on investments faster</p>
                      
                            <a  class="large-btn">Learn More</a>

                    </div>

                </div>
                <div class="col-md-7">
                    <div class="banners-btns">

                        <div class="row">
                            <div class="col-md-4"><a routerLink="marketplace">Invest</a></div>
                            <div class="col-md-4"><a routerLink="project-valuation">Raise Capital</a></div>
                            <div class="col-md-4"><a routerLink="trade-shares">Trade Shares</a></div>

                        </div>
                    </div>

                </div>
        </div>
    
    </div>
</div>
<section class="wind-solar-section">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
    
                <div class="wind-solar-box">
                    <div class="tool-links">
                        <a [routerLink]="'/project-valuation'"><i class="fas fa-plus"></i></a>
                        <a ><i class="fas fa-redo"></i></a>
                        <a ><i class="fas fa-bookmark"></i></a>
                    </div>
                    <div class="wind-solar-img">
                        <img src="assets/images/wind-img-1.jpg" alt="">
            
                    </div>
                    <div class="wind-solar-header">
                        <h4>Wind Turf Sector IV</h4>
                        <h4>Location: Krong Bavet, CAMBODIA</h4>
                    </div>
            
                    <div class="wind-solar-bottom">
                            <div class="wind-circle">
                                <img src="assets/images/wind-icon.jpg">
                            </div>
                            <div class="action-btn"> <a [routerLink]="'/marketplace'">View Deal</a> </div>
                    </div>
                </div>
            
        
            </div>
            <div class="col-md-4">
    
                <div class="wind-solar-box">
                    <div class="tool-links">
                        <a [routerLink]="'/project-valuation'"><i class="fas fa-plus"></i></a>
                        <a ><i class="fas fa-redo"></i></a>
                        <a ><i class="fas fa-bookmark"></i></a>
                    </div>
                    <div class="wind-solar-img">
                        <img src="assets/images/wind-img-2.jpg" alt="">
            
                    </div>
                    <div class="wind-solar-header">
                        <h4>Wind Turf Sector IV</h4>
                        <h4>Location: Krong Bavet, CAMBODIA</h4>
                    </div>
            
                    <div class="wind-solar-bottom">
                            <div class="wind-circle">
                                <img src="assets/images/wind-icon.jpg">
                            </div>
                            <div class="action-btn"> <a [routerLink]="'/marketplace'">View Deal</a> </div>
                    </div>
                </div>
            
        
            </div>
            <div class="col-md-4">
    
                <div class="wind-solar-box">
                    <div class="tool-links">
                        <a [routerLink]="'/project-valuation'"><i class="fas fa-plus"></i></a>
                        <a ><i class="fas fa-redo"></i></a>
                        <a ><i class="fas fa-bookmark"></i></a>
                    </div>
                    <div class="wind-solar-img">
                        <img src="assets/images/wind-img-3.jpg" alt="">
            
                    </div>
                    <div class="wind-solar-header">
                        <h4>Wind Turf Sector IV</h4>
                        <h4>Location: Krong Bavet, CAMBODIA</h4>
                    </div>
            
                    <div class="wind-solar-bottom">
                            <div class="wind-circle">
                                <img src="assets/images/wind-icon.jpg">
                            </div>
                            <div class="action-btn"> <a [routerLink]="'/marketplace'">View Deal</a> </div>
                    </div>
                </div>
            
        
            </div>
    
        </div>
      
    </div>


</section>





