<div class="website-header">
    <nav class="navbar navbar-expand-md navbar-dark  main-nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100">
                <ul class="nav navbar-nav w-100">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Marketplace</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand order-first order-md-0 mx-0" href="#">
                <div class="logo">
                    <img src="../../../assets/images/logo.jpg" alt="">
                </div>
            </a>
            <div class="collapse navbar-collapse w-100">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">INVEST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">RAISE CAPITAL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    






    <!-- <nav class="navbar navbar-expand-md navbar-light bg-blue">
        <a routerLink="/marketplace" class="navbar-brand">MARKETPLACE</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">

            </div>
            <div class="navbar-nav ml-auto">
                <a routerLink="/marketplace" class="nav-item nav-link mr-40">INVEST</a>
                <a routerLink="/project-valuation" class="nav-item nav-link mr-66">RAISE CAPITAL</a>

                <a href="#" class="nav-item nav-link mr-35">LOGIN</a>
                <a href="#" class="nav-item nav-link">REGISTER</a>
            </div>
        </div>
    </nav> -->

</div>
<div class="page-wrapper">
    <router-outlet></router-outlet>
</div>