<div class="secondary-owner">
    <div class="top-bar">
        <h2>Sun Rays Pte. Ltd</h2>
    </div>
    <div class="owner-content-wrapper">
    <div class="row">
        <div class="col-md-9">
            <div class="card-holder-white">
            <div class="card">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    </div>
</div>