<div class="secondary-owner">
    <div class="top-bar">
        <h2>Sun Rays Pte. Ltd</h2>
    </div>
    <div class="owner-content-wrapper">
    <div class="row">
        <div class="col-md-10">
            <div class="card-holder-white">
            <div class="card">
                <div class="card-header">
                  Tracker
                </div>
                <div class="card-body">
                    <div class="traker-bars">
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Submit</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Verify</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Approved</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Published</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Data Room</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Issue Token</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Funding Completed</h4>
                            </div>

                        </div>

                    </div>


                </div>
              </div>
            </div>

            <div class="folders-section">
                <div class="row">
                    <div class="col-md-3">
                        <div class="folder-item">
                          <div class="folder-item-head">
                            <div class="summary">
                                <h4>Project 1</h4>
                                <p>Project description content containing details of project and it's contents.</p>
                            </div>
                            <div class="folder-prograss">
                                <!-- Progress bar 1 -->
                                <div class="progress-circle" data-percentage="50">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            50%			
                                  </div>
                                    </div>
                                </div>
                               <!-- END -->

                            </div>
                              
                          
                          
                            </div>
                            <div class="folder-item-footer">
                                <div class="users-count">
                                    <i class="fas fa-user"></i>
                                    <span>3</span>
                                </div>
                                <div class="share">
                                    <i class="fas fa-share-alt"></i>
                                </div>
    
                            </div>       

                        </div>
                        <div class="down-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="folder-users">
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="50">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                          

                        </div>

                   

                    </div>
                    <div class="col-md-3">
                        <div class="folder-item">
                          <div class="folder-item-head">
                            <div class="summary">
                                <h4>Project 2</h4>
                                <p>Project description content containing details of project and it's contents.</p>
                            </div>
                            <div class="folder-prograss">
                                <!-- Progress bar 1 -->
                                <div class="progress-circle" data-percentage="60">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            60%			
                                  </div>
                                    </div>
                                </div>
                               <!-- END -->

                            </div>
                              
                          
                          
                            </div>
                            <div class="folder-item-footer">
                                <div class="users-count">
                                    <i class="fas fa-user"></i>
                                    <span>5</span>
                                </div>
                                <div class="share">
                                    <i class="fas fa-share-alt"></i>
                                </div>
    
                            </div>       

                        </div>
                        <div class="down-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="folder-users">
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="60">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="60">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="folder-item">
                          <div class="folder-item-head">
                            <div class="summary">
                                <h4>Project 3</h4>
                                <p>Project description content containing details of project and it's contents.</p>
                            </div>
                            <div class="folder-prograss">
                                <!-- Progress bar 1 -->
                                <div class="progress-circle" data-percentage="60">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            60%			
                                  </div>
                                    </div>
                                </div>
                               <!-- END -->

                            </div>
                              
                          
                          
                            </div>
                            <div class="folder-item-footer">
                                <div class="users-count">
                                    <i class="fas fa-user"></i>
                                    <span>5</span>
                                </div>
                                <div class="share">
                                    <i class="fas fa-share-alt"></i>
                                </div>
    
                            </div>       

                        </div>
                        <div class="down-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="folder-users">
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="60">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="60">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="folder-item">
                          <div class="folder-item-head">
                            <div class="summary">
                                <h4>Project 4</h4>
                                <p>Project description content containing details of project and it's contents.</p>
                            </div>
                            <div class="folder-prograss">
                                <!-- Progress bar 1 -->
                                <div class="progress-circle" data-percentage="60">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            74%			
                                  </div>
                                    </div>
                                </div>
                               <!-- END -->

                            </div>
                              
                          
                          
                            </div>
                            <div class="folder-item-footer">
                                <div class="users-count">
                                    <i class="fas fa-user"></i>
                                    <span>8</span>
                                </div>
                                <div class="share">
                                    <i class="fas fa-share-alt"></i>
                                </div>
    
                            </div>       

                        </div>
                        <div class="down-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="folder-users">
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="down-arrow">
                <i class="fas fa-chevron-up"></i>
            </div>
            <div class="card-holder-white participants">
                <div class="card">
                    <div class="card-header">
                        Participants
                    </div>
                    <div class="card-body">
                        <div class="participants-list">
                            <div class="row">
                                <div class="col">
                                    <div class="participants-item color-1">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <!-- <i class="fas fa-user"></i> -->
                                                <img class="profile-pic" src="assets/images/p6.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                Kerry <br>
                                                2021
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Developer
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-2">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <!-- <i class="fas fa-user"></i> -->
                                                <img class="profile-pic" src="assets/images/p5.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                Maria <br>
                                                2021
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Developer
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-3">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <!-- <i class="fas fa-user"></i> -->
                                                <img class="profile-pic" src="assets/images/p4.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                Katherine <br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Investors
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-4">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <!-- <i class="fas fa-user"></i> -->
                                                <img class="profile-pic" src="assets/images/p2.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                Amanda<br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Investors
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-5">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <!-- <i class="fas fa-user"></i> -->
                                                <img class="profile-pic" src="assets/images/p3.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                George <br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Auditors
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-6">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <!-- <i class="fas fa-user"></i> -->
                                                <img class="profile-pic" src="assets/images/p1.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                Kramer<br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Auditors
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-7">
                                        <div class="item-body">
                                            <div class="plus-avatar">
                                                <!-- <i class="fas fa-user"></i> -->
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Add More
                                        </div>
                                       
        
                                    </div>
                                </div>

                            </div>
                         

                        </div>
    
    
                    </div>
                  </div>
                </div>

        </div>
        <div class="col-md-2">
            <div class="sidebar">
                    <ul>
                        <li>
                            <div class="circle-wrap">
                            <div class="circle">
                                <i class="fa fa-tachometer-alt"></i>
                            </div>
                            <h4>Dashboad</h4>
                        </div>
                        </li>
                        <li>
                            <div class="circle-wrap">
                                <div class="circle">
                                    <i class="fa fa-tasks"></i>
                                </div>
                                <h4>Project Card</h4>
                            </div>
                        </li>
                        <li>
                            <div class="circle-wrap">
                                <div class="circle">
                                    <i class="fa fa-poll"></i>
                                </div>
                                <h4>Data Room</h4>
                            </div>
                        </li>
                        <li>
                            <div class="circle-wrap">
                                <div class="circle">
                                    <i class="fa fa-people-arrows"></i>
                                </div>
                                <h4>Participants</h4>
                            </div>
                        </li>
                        <li>
                            <div class="circle-wrap">
                            <div class="circle">
                                <i class="fa fa-funnel-dollar"></i>
                            </div>
                            <h4>Marketplace</h4>
                            </div>
                        </li>

                    </ul>

            </div>

        </div>
    </div>
    </div>
</div>