<div class="secondary-owner">
    <div class="top-bar">
        <h2>Sun Rays Pte. Ltd</h2>
    </div>
    <div class="owner-content-wrapper">
    <div class="row">
        <div class="col-md-9">
            <div class="card-holder-white">
            <div class="card">
                <div class="card-header">
                  Traker
                </div>
                <div class="card-body">
                    <div class="traker-bars">
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Submit</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Verify</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Approved</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Published</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Data Room</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Issue Token</h4>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4>Funding Completed</h4>
                            </div>

                        </div>

                    </div>


                </div>
              </div>
            </div>

            <div class="folders-section">
                <div class="row">
                    <div class="col-md-3">
                        <div class="folder-item">
                          <div class="folder-item-head">
                            <div class="summary">
                                <h4>Folder Name 1</h4>
                                <p>Folder description conent containg details folder and it's contents.</p>
                            </div>
                            <div class="folder-prograss">
                                <!-- Progress bar 1 -->
                                <div class="progress-circle" data-percentage="74">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            74%			
                                  </div>
                                    </div>
                                </div>
                               <!-- END -->

                            </div>
                              
                          
                          
                            </div>
                            <div class="folder-item-footer">
                                <div class="users-count">
                                    <i class="fas fa-user"></i>
                                    <span>1</span>
                                </div>
                                <div class="share">
                                    <i class="fas fa-share-alt"></i>
                                </div>
    
                            </div>       

                        </div>
                        <div class="down-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="folder-users">
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                          

                        </div>

                   

                    </div>
                    <div class="col-md-3">
                        <div class="folder-item">
                          <div class="folder-item-head">
                            <div class="summary">
                                <h4>Folder Name 1</h4>
                                <p>Folder description conent containg details folder and it's contents.</p>
                            </div>
                            <div class="folder-prograss">
                                <!-- Progress bar 1 -->
                                <div class="progress-circle" data-percentage="74">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            74%			
                                  </div>
                                    </div>
                                </div>
                               <!-- END -->

                            </div>
                              
                          
                          
                            </div>
                            <div class="folder-item-footer">
                                <div class="users-count">
                                    <i class="fas fa-user"></i>
                                    <span>1</span>
                                </div>
                                <div class="share">
                                    <i class="fas fa-share-alt"></i>
                                </div>
    
                            </div>       

                        </div>
                        <div class="down-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="folder-users">
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                          

                        </div>

                   

                    </div>
                    <div class="col-md-3">
                        <div class="folder-item">
                          <div class="folder-item-head">
                            <div class="summary">
                                <h4>Folder Name 1</h4>
                                <p>Folder description conent containg details folder and it's contents.</p>
                            </div>
                            <div class="folder-prograss">
                                <!-- Progress bar 1 -->
                                <div class="progress-circle" data-percentage="74">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            74%			
                                  </div>
                                    </div>
                                </div>
                               <!-- END -->

                            </div>
                              
                          
                          
                            </div>
                            <div class="folder-item-footer">
                                <div class="users-count">
                                    <i class="fas fa-user"></i>
                                    <span>1</span>
                                </div>
                                <div class="share">
                                    <i class="fas fa-share-alt"></i>
                                </div>
    
                            </div>       

                        </div>
                        <div class="down-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="folder-users">
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                          

                        </div>

                   

                    </div>
                    <div class="col-md-3">
                        <div class="folder-item">
                          <div class="folder-item-head">
                            <div class="summary">
                                <h4>Folder Name 1</h4>
                                <p>Folder description conent containg details folder and it's contents.</p>
                            </div>
                            <div class="folder-prograss">
                                <!-- Progress bar 1 -->
                                <div class="progress-circle" data-percentage="74">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            74%			
                                  </div>
                                    </div>
                                </div>
                               <!-- END -->

                            </div>
                              
                          
                          
                            </div>
                            <div class="folder-item-footer">
                                <div class="users-count">
                                    <i class="fas fa-user"></i>
                                    <span>1</span>
                                </div>
                                <div class="share">
                                    <i class="fas fa-share-alt"></i>
                                </div>
    
                            </div>       

                        </div>
                        <div class="down-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="folder-users">
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                            <div class="folder-user-item">
                                <div class="user">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="prograss-share">
                                    <!-- Progress bar 1 -->
                                    <div class="progress-circle" data-percentage="74">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    </div>
                                <!-- END -->
                                    <div class="share">
                                        <i class="fas fa-share-alt"></i>

                                    </div>

                                </div>

                            </div>
                          

                        </div>

                   

                    </div>
                </div>

            </div>

            <div class="down-arrow">
                <i class="fas fa-chevron-up"></i>
            </div>
            <div class="card-holder-white participants">
                <div class="card">
                    <div class="card-header">
                        Participants
                    </div>
                    <div class="card-body">
                        <div class="participants-list">
                            <div class="row">
                                <div class="col">
                                    <div class="participants-item color-1">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="user-info">
                                                Jakson T <br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Developer
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-1">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="user-info">
                                                Jakson T <br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Developer
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-1">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="user-info">
                                                Jakson T <br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Developer
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-1">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="user-info">
                                                Jakson T <br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Developer
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-1">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="user-info">
                                                Jakson T <br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Developer
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-1">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="user-info">
                                                Jakson T <br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Developer
                                        </div>
                                       
        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="participants-item color-1">
                                        <div class="item-body">
                                            <div class="user-avatar">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="user-info">
                                                Jakson T <br>
                                                2020
                                            </div>
                                        </div>
                                        <div class="item-footer">
                                            Developer
                                        </div>
                                       
        
                                    </div>
                                </div>

                            </div>
                         

                        </div>
    
    
                    </div>
                  </div>
                </div>

        </div>
        <div class="col-md-3">
            <div class="sidebar">
                    <ul>
                        <li>
                            <div class="circle"></div>
                            <h4>Dashboad</h4>
                        </li>

                    </ul>

            </div>

        </div>
    </div>
    </div>
</div>