<table cellspacing="0" cellpadding="0" class="table table-bordered">

    <tr>
      <th class="center-text" style="width: 20px;"></th>
      <th style="width: 300px;">Bond</th>
      <th class="text-center" style="width: 600px;">Anonymous Activity</th>
      <th class="text-center">Client Activity</th>
    </tr>


    <tr class="heighlight">
      <td class="s-mark">S></td>
      <td>
        <div>AVGO 3.625 01/15/24</div>
        <div class="text-muted font-14">11134LAF6 UST 5Y</div>
      </td>
      <td class="text-center">

        <div class="anonymous-activity">
            <div class="anonymous-activity-row">
              <div>
                <h3>+152</h3>
                <span class="text-success font-13"><strong>Your Bid</strong> </span>
              </div>
              <div>
                <h3> / +152</h3>
                <span class="text-success font-13"><strong>Your Offers</strong> </span>
              </div>
            </div>
            <div class="time-col pl-10">
              23:02
            </div>
       

        </div>            
    </td>
      <td>
        <i class="fas fa-rss"></i> Cast
      </td>
    </tr>
    <tr class="heighlight">
      <td class="t-mark">T></td>
      <td>
        <div>HSBC 3.803 03/11/25</div>
        <div class="text-muted font-14">404280BZ1 UST 5Y</div>
      </td>
      <td class="text-center">

        <div class="anonymous-activity">
            <div class="anonymous-activity-row">
              <div>
                <h3>+120</h3>
                <span class="text-success font-13"><strong>Your Bid</strong> </span>
              </div>
              <div>
                <h3 class="mb-21"> / +119.5</h3>
              </div>
            </div>
            <div class="time-col">
              23:02
            </div>
       

        </div>            
      </td>
    <td>
        <ul class="client-activity">
            <li><i class="fas fa-pencil-alt"></i> Cast</li>
            <li>2 Views</li>
        </ul>
    </td>
    </tr>
    <tr>
        <td class="t-mark">T></td>
        <td>
            <div>AVGO 4.75 04/15/29</div>
            <div class="text-muted font-14">11135FAB7 144A UST 10Y</div>
            <div class="text-success font-13"><strong>New Issue: 0.1 bps</strong> </div>
        </td>
        <td class="text-center">
          
          
        <div class="anonymous-activity">
          <div class="anonymous-activity-row">
            <div>
              <h4><i class="fas fa-plus"></i> 101</h4>
            </div>
            <div>
              <h4> <i class="fas fa-plus"></i> Order </h4>
            </div>
            <div class="axedText">
              <h4 class="text-success"> Axed </h4>
            </div>


          </div>
          
        </div>
    

        
        </td>
        <td>
            <ul class="client-activity">
                <li><i class="fas fa-pencil-alt"></i> Cast</li>
                <li>2 Views</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div>CAG 5.40 11/01/48</div>
            <div class="text-muted font-14">205887CEO UST OLB</div>
        </td>
        <td class="text-center">
            <div class="anonymous-activity">
              <div class="anonymous-activity-row">
                <div>
                  <h4><i class="fas fa-plus"></i> 101</h4>
                </div>
                <div>
                  <h4> <i class="fas fa-plus"></i> Order </h4>
                </div>
                <div class="axedText">
                  <h4 class="text-success"> Axed </h4>
                </div>
              </div>
            </div>
        </td>
        <td>
            <ul class="client-activity">
                <li><i class="fas fa-pencil-alt"></i> Cast</li>
                <li>1 View</li>
            </ul>
        </td>
    </tr>
    <tr class="heighlight">
        <td class="t-mark">T></td>
        <td>
            <div>ABIBB 5.55 01/23/49</div>
            <div class="text-muted font-14">205887CEO UST OLB</div>
        </td>
        <td class="text-center">
            <div class="anonymous-activity">
                <div class="anonymous-activity-row">
                  <div>
                    <h3>+194.3</h3>
                    <span class="text-success font-13"><strong>Interest at Mid</strong> </span>
                  </div>
                  <!-- <div>
                    <h3> / +152</h3>
                    <span class="text-success font-13"><strong>Your Offers</strong> </span>
                  </div> -->
                </div>
                <div class="time-col pl-53">
                    03:39
                </div>
           
    
            </div>            
        </td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr class="heighlight">
        <td class="s-mark">S></td>
        <td>
            <div>AVGO 3.625 10/15/24</div>
            <div class="text-muted font-14">11135FAB7 144A UST 10Y</div>
            <div class="text-success font-13"><strong>New Issue: 0.1 bps</strong> </div>
        </td>
        <td class="text-center">

            <div class="anonymous-activity">
                <div class="anonymous-activity-row">
                  <div>
                    <h3>+169</h3>
                    <!-- <span class="text-success font-13"><strong>Your Bid</strong> </span> -->
                  </div>
                  <div>
                    <h3> / +167.5</h3>
                    <!-- <span class="text-success font-13"><strong>Your Offers</strong> </span> -->
                  </div>
                </div>
                <div class="time-col">
                  24:11
                </div>
            </div>            
        </td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td class="s-mark">S></td>
        <td>
            <div>BAYNGR 4.375 12/15/28</div>
            <div class="text-muted font-14">404280BZ1 UST 5Y</div>
        </td>
        <td class="text-center">
          
          
            <div class="anonymous-activity">
              <div class="anonymous-activity-row">
                <div>
                  <h4><i class="fas fa-plus"></i> 101</h4>
                </div>
                <div>
                  <h4> <i class="fas fa-plus"></i> Order </h4>
                </div>
                <div class="axedText">
                  <h4 class="text-success"> Axed </h4>
                </div>
    
    
              </div>
              
            </div>
        
    
            
            </td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td class="s-mark">S></td>
        <td>
            <div>JPM 4.452 12/05/29</div>
            <div class="text-muted font-14">404280BZ1 UST 5Y</div>
        </td>
        <td class="text-center">
          
          
            <div class="anonymous-activity">
              <div class="anonymous-activity-row">
                <div>
                  <h4><i class="fas fa-plus"></i> 101</h4>
                </div>
                <div>
                  <h4> <i class="fas fa-plus"></i> Order </h4>
                </div>
                <div class="axedText">
                  <h4 class="text-success"> Axed </h4>
                </div>
    
    
              </div>
              
            </div>
        
    
            
            </td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div>MO 4.40 02/14/26</div>
            <div class="text-muted font-14">404280BZ1 UST 5Y</div>
        </td>
        <td class="text-center">
          
          
            <div class="anonymous-activity">
              <div class="anonymous-activity-row">
                <div>
                  <h4><i class="fas fa-plus"></i> 101</h4>
                </div>
                <div>
                  <h4> <i class="fas fa-plus"></i> Order </h4>
                </div>
                <div class="axedText">
                  <h4 class="text-success"> Axed </h4>
                </div>
    
    
              </div>
              
            </div>
        
    
            
            </td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div>PEMEX 6.625 06/15/35</div>
            <div class="text-muted font-14">404280BZ1</div>
        </td>
        <td class="text-center">
          
          
            <div class="anonymous-activity">
              <div class="anonymous-activity-row">
                <div>
                  <h4><i class="fas fa-plus"></i> 101</h4>
                </div>
                <div>
                  <h4> <i class="fas fa-plus"></i> Order </h4>
                </div>
                <div class="axedText">
                  <h4 class="text-success"> Axed </h4>
                </div>
    
    
              </div>
              
            </div>
        
    
            
            </td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td class="s-mark">S></td>
        <td>
            <div>VZ 4.862 08/21/46</div>
            <div class="text-muted font-14">404280BZ1</div>
        </td>
        <td class="text-center">
          
          
            <div class="anonymous-activity">
              <div class="anonymous-activity-row">
                <div>
                  <h4><i class="fas fa-plus"></i> 101</h4>
                </div>
                <div>
                  <h4> <i class="fas fa-plus"></i> Order </h4>
                </div>
                <div class="axedText">
                  <h4 class="text-success"> Axed </h4>
                </div>
    
    
              </div>
              
            </div>
        
    
            
            </td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
  </table>