<table cellspacing="0" cellpadding="0" class="table table-bordered">

    <tr>
      <th class="center-text" style="width: 20px;"></th>
      <th style="width: 300px;">Bond</th>
      <th class="text-center" style="width: 600px;">Anonymous Activity</th>
      <th class="text-center">Client Activity</th>
    </tr>
    <tr class="heighlight">
      <td class="s-mark">S></td>
      <td>AVGO 3.625 01/15/24</td>
      <td class="text-center">

        <div class="anonymous-activity">
            <div class="anonymous-activity-row">
              <div>
                <h3>+152</h3>
                <span class="text-success font-13"><strong>Your Bid</strong> </span>
              </div>
              <div>
                <h3> / +152</h3>
                <span class="text-success font-13"><strong>Your Offers</strong> </span>
              </div>
            </div>
            <div class="time-col">
              23:02
            </div>
       

        </div>            
    </td>
      <td>
        <i class="fas fa-rss"></i> Cast
      </td>
    </tr>
    <tr class="heighlight">
      <td class="t-mark">T></td>
      <td>
        <div>HSBC 3.803 03/11/25</div>
        <div class="text-muted font-14">11134 LAF 6UST 5Y</div>
        <div class="text-success font-13"><strong>New Issue: 0.1 bps</strong> </div>
      </td>
      <td>
        +120 / +119.5 0:21


      </td>
      <td>
      <ul class="client-activity">
        <li><i class="fas fa-pencil-alt"></i> Cast</li>
        <li>2 Views</li>
      </ul>
        
         
      
      </td>
    </tr>
    <tr>
        <td>T></td>
        <td>AVGO 4.75 04/15/29</td>
        <td class="text-center">
          
          
        <div class="anonymous-activity">
          <div class="anonymous-activity-row">
            <div>
              <h4><i class="fas fa-plus"></i> 101</h4>
            </div>
            <div>
              <h4> <i class="fas fa-plus"></i> Order </h4>
            </div>
            <div>
              <h4 class="text-success"> Axed </h4>
            </div>


          </div>
          
        </div>
    

        
        </td>
        <td><i class="fas fa-pencil-alt"></i> Cast 2 Views</td>
    </tr>
    <tr>
        <td></td>
        <td>CAG 5.40 11/01/48</td>
        <td><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td><i class="fas fa-pencil-alt"></i> Cast 1 View</td>
    </tr>
    <tr class="heighlight">
        <td>T></td>
        <td>ABIBB 5.55 01/23/49</td>
        <td>+194.3 3.39</td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr class="heighlight">
        <td>S></td>
        <td>AVGO 3.625 10/15/24</td>
        <td>+169 / +167.5 24:11</td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td>S></td>
        <td>BAYNGR 4.375 12/15/28</td>
        <td><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td>S></td>
        <td>JPM 4.452 12/05/29</td>
        <td><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td></td>
        <td>MO 4.40 02/14/26</td>
        <td><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td></td>
        <td>PEMEX 6.625 06/15/35</td>
        <td><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td>S></td>
        <td>VZ 4.862 08/21/46</td>
        <td><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td><i class="fas fa-rss"></i> Cast</td>
    </tr>
  </table>