<table cellspacing="0" cellpadding="0" class="table table-bordered">

    <tr>
      <th class="center-text"></th>
      <th >Bond</th>
      <th >Anonymous Activity</th>
      <th>Client Activity</th>
    </tr>
    <tr class="heighlight-row">
      <td>S></td>
      <td  class="text-right">AVGO 3.625 01/15/24</td>
      <td  class="text-right">
          +152 / +151 23:02
    </td>
      <td class="text-right">
        <i class="fas fa-rss"></i> Cast
      </td>
    </tr>
    <tr class="heighlight-row">
      <td>T></td>
      <td  class="text-right">HSBC 3.803 03/11/25</td>
      <td  class="text-right">+120 / +119.5 0:21</td>
      <td class="text-right"><i class="fas fa-pencil-alt"></i> Cast 2 Views</td>
    </tr>
    <tr>
        <td>T></td>
        <td  class="text-right">AVGO 4.75 04/15/29</td>
        <td  class="text-right"><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td class="text-right"><i class="fas fa-pencil-alt"></i> Cast 2 Views</td>
    </tr>
    <tr>
        <td></td>
        <td  class="text-right">CAG 5.40 11/01/48</td>
        <td  class="text-right"><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td class="text-right"><i class="fas fa-pencil-alt"></i> Cast 1 View</td>
    </tr>
    <tr class="heighlight-row">
        <td>T></td>
        <td  class="text-right">ABIBB 5.55 01/23/49</td>
        <td  class="text-right">+194.3 3.39</td>
        <td class="text-right"><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr class="heighlight-row">
        <td>S></td>
        <td  class="text-right">AVGO 3.625 10/15/24</td>
        <td  class="text-right">+169 / +167.5 24:11</td>
        <td class="text-right"><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td>S></td>
        <td  class="text-right">BAYNGR 4.375 12/15/28</td>
        <td  class="text-right"><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td class="text-right"><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td>S></td>
        <td  class="text-right">JPM 4.452 12/05/29</td>
        <td  class="text-right"><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td class="text-right"><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td></td>
        <td  class="text-right">MO 4.40 02/14/26</td>
        <td  class="text-right"><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td class="text-right"><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td></td>
        <td  class="text-right">PEMEX 6.625 06/15/35</td>
        <td  class="text-right"><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td class="text-right"><i class="fas fa-rss"></i> Cast</td>
    </tr>
    <tr>
        <td>S></td>
        <td  class="text-right">VZ 4.862 08/21/46</td>
        <td  class="text-right"><i class="fas fa-plus"></i> 101 <i class="fas fa-plus"></i> Order Axed</td>
        <td class="text-right"><i class="fas fa-rss"></i> Cast</td>
    </tr>
  </table>