<div class="bs-example">
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-blue">
        <a routerLink="/marketplace" class="navbar-brand">MARKETPLACE</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                
            </div>
            <div class="navbar-nav ml-auto">
                <a routerLink="/marketplace" class="nav-item nav-link mr-40">INVEST</a>
                <a routerLink="/project-valuation" class="nav-item nav-link mr-66">RAISE CAPITAL</a>

                <a href="#" class="nav-item nav-link mr-35">LOGIN</a>
                <a href="#" class="nav-item nav-link">REGISTER</a>
            </div>
        </div>
    </nav> -->
    <div class="container-fluid">
        <div class="row mt-50 mb-48">
            <div class="col-md-3">
                <div class="card-box">
                    <div style="float: right;">
                        <fa-icon class="card-ic" [icon]="['fas', 'plus']" [fixedWidth]="true" routerLink="/project-valuation"></fa-icon>
                        <fa-icon class="card-ic" [icon]="['fas', 'redo']" [fixedWidth]="true"></fa-icon>
                        <fa-icon class="card-ic"  [icon]="['fas', 'bookmark']" [fixedWidth]="true"></fa-icon>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row" style="height:58px;">
                        <div class="col-md-9" style="margin-top: 9px;">
                            <span class="card-footer-title">Windy Turf Sector IV</span>
                            <span class="card-footer-title-subtext">Edit</span>
                        </div>
                        <div class="col-md-2 wind-circle">
                            <span class="wind-circle-txt">WIND</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>LOCATION: </span>
                            <span class="card-footer-location-val">KRONG BAVET, CAMBODIA</span>
                            <span class="card-footer-title-subtext">Edit</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-3 card-box">
                <div style="float: right;">
                    <fa-icon routerLink="/project-valuation" class="card-ic" [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic" [icon]="['fas', 'redo']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic"  [icon]="['fas', 'bookmark']" [fixedWidth]="true"></fa-icon>
                </div>
            </div>
            <div class="col-md-3 card-box">
                <div style="float: right;">
                    <fa-icon routerLink="/project-valuation" class="card-ic" [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic" [icon]="['fas', 'redo']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic"  [icon]="['fas', 'bookmark']" [fixedWidth]="true"></fa-icon>
                </div>
            </div>
            <div class="col-md-3 card-box">
                <div style="float: right;">
                    <fa-icon routerLink="/project-valuation" class="card-ic" [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic" [icon]="['fas', 'redo']" [fixedWidth]="true"></fa-icon>
                    <fa-icon class="card-ic"  [icon]="['fas', 'bookmark']" [fixedWidth]="true"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>