@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import './assets/fontawesome/css/all.css';
@import '~bootstrap/scss/bootstrap';
@import "assets/scss/main.scss";


body {
    font-family: 'Open Sans', sans-serif;
    &.grey-bg {
        background: #ede9ee;
        .container-fluid {
            min-width: 1400px;
        }

    }
 }
.mr-40{margin-right: 40px !important;}
.mr-66{margin-right: 66px !important;}
.mr-35{margin-right: 35px !important;}
.bold{font-weight: bold !important;}
.mt-50{margin-top: 50px !important;} 
.mb-48{margin-bottom: 48px !important;}
.v-algin-middle {
    vertical-align: middle !important;
}

.icon {
    width:20px;
    height: 20px;
    background-size: 100% !important;
    display: block;
}
.icon.solar {
    background: url(./assets/images/solar-energy.svg) no-repeat;
}
.icon.wind {
    width: 27px;
    height: 44px;
    background: url(./assets/images/wind.svg) no-repeat;
}
.table {
    a {
        cursor: pointer;
    }
    tr {
        &.heighlight-row {
            background: #f1fff0 !important;
        }
    }
    td {
        &.child-cell {
            padding-left: 30px !important
        }
        &.sec-child-cell {
            padding-left: 60px !important
        }
    }
}
.gird-section {
    background: #fff;
    padding: 20px;
    max-width: 90%;
    margin: auto;
    border: 1px solid #ddd;
    margin-top: 20px;
    .filter-links {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-flex;
            li {
                padding: 7px 10px;
            }
        }
    }
    .table-wrapper {
        margin-top: 30px;
        th {
            i {
                position: relative;
                top: -4px;
            }
            .pagination {
                margin-bottom: 0;
                justify-content: flex-end;
                .page-link {
                    color: rgb(51, 51, 51);
                    font-weight: normal;
                }
                .page-item.active .page-link {
                    background-color: #cfcfcf;
                    color: #565555;
                    border-color: #cfcfcf;
                }
            }
        }
     

        .table th {
            border-top: none;
            color: #888;
        }
        .tag-label {
            border: 1px solid #ddd;
            font-size: 12px;
            padding: 4px 11px;
            border-radius: 15px;
            font-weight: 600;
            color: #929292;
        }
        .info{
            span{
                color: #888;
                font-size: 14px;
            }
        }
        .user-info {
            font-size: 14px;
            color: #888;
        }
        .share-btn {
            font-weight: 600;
            color: #929292;
            border: 1px solid #ddd;
            font-size: 12px;
            padding: 4px 11px;
            border-radius: 4px;
        } 
    }
}


// MARKETPLACE //
.marketplace {
    margin: 50px 0;
    padding: 0 20px;
}
.marketplace-card {
    box-shadow: 1px 1px 7px 3px rgb(0 0 0 / 22%);
    margin: 7px;
    position: relative;
    .tool-links {
        position: absolute;
        right: 15px;
        top: 5px;
        color: #fff;
        z-index: 10;
        a {
            color: #fff;
            margin-left: 12px;
            display: inline-block;
        }
    }
    .marketplace-img {
        img {
            max-width: 100%;
        }
    }
    .mp-header {
        padding: 20px;
        padding-bottom: 0;
        .basic-info {
            display: flex;
            h3 {
                font-size: 24px;
            }
            .mp-badage {
                background: $theme-color;
                margin-left: auto;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .views-counts {
            text-align: right;
            font-size: 14px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }
    }
    .mp-body {
        padding: 20px;
    }
    .mp-footer {
        text-align: center;
        text-transform: uppercase;
        margin: 20px 0;
        display: inline-block;
        width: 100%;
        > a {
            background-color: $theme-color;
            display:inline-block;
            padding: 7px 20px;
            color: #fff;
        }
        ul {
            display: inline-flex;
            list-style: none;
            margin: 10px 0 0;
            padding: 0;
            font-size: 12px;
            li {
                border-right: 1px solid #888;
                &:last-child {
                    border: none;
                }
                a {
                    margin: 7px;
                    color: #888;
                }
            }
        }
    }
}
.summary-label {
    ul {
        display:flex;
        list-style: none;
        margin: 0 0 5px;
        padding: 0;
    }
    li {
        text-transform: uppercase;
        font-size: 14px;
        &:first-child {
            font-weight: 600;
            color: $theme-color;
            margin-right: 10px;
        }
        &:last-child {
            span {
                opacity: 0.1;
                margin-right: 10px;
                &.active {
                    opacity: 1;
                }
            }
        }
        &.seeking {
            text-align: right;
            width: 100%;
            font-size: 16px;
        }
        &.right-value {
            text-align: right;
            width: 49%;
        }
    }
}
.counter-label {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    .counter-item {
        text-align: center;
        h3 {
            font-size: 24px;
            margin-bottom: 0;
            font-weight: 700;
        }
        h4 {
            font-size: 16px;
        }
    }
}
.equity {
    .equity-pers {
        display: flex;
        div {
            text-align: center;
            font-size: 14px;
        }
    }
    .equity-label {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: #cacaca;
    }
    .progress {
        background-color: #545696; 
    }
    .progress-bar {
        background-color: #303055;
    }
}
.project-details {
    // min-width: 1600px;
    @media(max-width:1400px){
        font-size: 14px;
    }
    .sub-header {
        background: #fff;
        margin-left: -15px;
        margin-right: -15px;
        overflow: hidden;
        padding: 15px;
        .header-left {
            display: flex;
            align-items: center;
        }
        .project-version {
            margin-left: 20px;
        }
        .breadcrumb-nav {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-flex;
                li {
                    position: relative;
                    margin-right: 10px;
                    &::after {
                        content: '/';
                        margin-left: 10px;
                    } 
                }
            }
        }
        .sub-links {
            text-align: right;
            margin-top: 4px;
            .circle-dot {
                background: #ff9e00;
                height: 10px;
                width: 10px;
                display: inline-block;
                border-radius: 12px;
                margin-right: 10px;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-flex;
                li {
                 
                    a {
                        margin: 0 5px;
                        background: #007bff;
                        color: #fff !important;
                        padding: 4px 13px;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 600;
                        border-radius: 6px;
                    }
                }
            }
        }

    }
 
    
    .app-tabs {
        background: #fff;
        margin-top: 20px;
        display: flex;
        padding: 5px;
        .tab-left {
            .dropdown-toggle {
                &::after {
                    border: none;
                }
            }
        }
        .tab-right {
            margin-left: auto;
            a {
                background: #007bff;
                color: #fff;
                padding: 7px 10px;
                display: inline-block;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding:0;
            display: inline-flex;
            li {
                &.divider {
                    border-right: 1px solid #ddd;
                    margin: 0 5px;
                }
                &.active {
                    a {
                        background: #007bff;
                        color: #fff;
                    }
                }
                a {
                    padding: 7px 10px;
                    display: inline-block;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .tab-body {
        background: #fff;
        max-width: 90%;
        margin: auto;
        margin-top: 20px;
        padding: 15px;
    }
    .table {
        .sm-row {
            td {
                padding: 6px 10px;
                font-size: 14px;
            }
        }
        td{
            &.cell-info {
                background: #dbf4ff;
            }
        }
      
    }

    .graph-table-header {
        display: flex;
        .graph-links {  
            margin: 0;
            padding: 0;
            display: inline-flex;
            list-style: none;
            color: #bfbfbf;
            li {
                a {
                    margin: 0 10px;
                    &:hover {
                        text-decoration: none;
                    }
                }
                &.active {
                    a{
                        background: #1b1b1b;
                        color: #fff;
                        font-size: 14px;
                        display: block;
                        padding: 2px 7px;
                        border-radius: 7px;
                    }
                  
                }
            }
           
        }
        .view-btn {
            margin-left: auto;
        }
        
    }
}

.customLink{
    color: #007bff !important;
    cursor: pointer;
}
.bold-text{font-weight: bold !important;}
.table-bordered i {
    color: #007bff !important;
}
.center-text{text-align: center !important;}
.pr-66{padding-right: 66px !important;}
.pr-93{padding-right: 93px !important;}
.pr-78{padding-right: 78px !important;}
.mb-21{margin-bottom: 21px !important;}
.pl-58{padding-left: 58px  !important;}
.pl-53{padding-left: 53px  !important;}
.pl-10{padding-left: 10px  !important;}
.cursor-pointer{cursor: pointer;}
.font-12{font-size: 12px;}
.mt-20{margin-top: 20px !important;}



/*************************
  Toggle - Switch (Slider)
**************************/
.form-switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
  }
  .form-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .form-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .form-switch-slider:before {
    position: absolute;
    content: "  ";
    height: 12px;
    width: 14px;    
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .form-switch-slider {
    background-color: #00c27d;
  }
  
  input:focus + .form-switch-slider {
    box-shadow: 0 0 1px #00c27d;
  }
  
  input:checked + .form-switch-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .form-switch-slider.round {
    border-radius: 34px;
  }
  
  .form-switch-slider.round:before {
    border-radius: 50%;
  }
  
  
  .form-switch-label{
  margin-left: 10px;
  position: relative;
  top: 5px;
  }
  .switch-left-label{
    margin-right: 12px;
    position: relative;
    top: 4px;
  }
  .switch-right-label{
    margin-left: 12px;
    position: relative;
    top: 4px;
  }
  /*************************/