<div class="security">
    <div class="sub-header">
        <div class="row">
            <div class="col-md-12">
                <span class="sub-header-title">Increase your account security ( <span class="sub-header-title-subtext">2</span> / 4 )</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="header-left">
                    <div class="breadcrumb-nav">
                        <ul>
                            <li>
                                <a>
                                    <span class="fa-stack fa-2x stack-group">
                                        <i class="fa fa-circle fa-stack-2x success_ic"></i>
                                        <i class="fa fa-check fa-stack-1x tick_ic"></i> 
                                    </span>
                                    <span class="breadcrumb-nav-text">  Enable 2FA</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="fa-stack fa-2x stack-group">
                                        <i class="fa fa-circle fa-stack-2x success_ic"></i>
                                        <i class="fa fa-check fa-stack-1x tick_ic"></i> 
                                    </span>
                                    <span class="breadcrumb-nav-text">  Verified</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="fa-stack fa-2x stack-group">
                                        <i class="fa fa-circle fa-stack-2x danger_ic"></i>
                                        <i class="fa fa-times fa-stack-1x cross_ic"></i> 
                                    </span>
                                    <span class="breadcrumb-nav-text underline">  Enable Anti-phishing Code</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="fa-stack fa-2x stack-group">
                                        <i class="fa fa-circle fa-stack-2x danger_ic"></i>
                                        <i class="fa fa-times fa-stack-1x cross_ic"></i> 
                                    </span>
                                    <span class="breadcrumb-nav-text underline">  Turn-on IP Address whitelist</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="gird-section security">
    <div class="row detail-container">
        <div class="col-md-6 left-grid-section">
            <div class="row left-grid-row-container">
                <div class="col-md-12">
                    <span class="bold-text">2FA</span>
                </div>
            </div>
            <div class="row left-grid-row-container">
                <div class="col-md-10">
                    <div class="grid_ic_wrapper">
                        <span class="grid_ic">
                            <i class="fab fa-google"></i>
                        </span>
                    </div>
                    <div class="left-grid-text-section">
                        <span class="left-grid-text-title">Google Authentication</span><br>
                        <span class="text-muted font-12 left-grid-text-data">Used for withdrawls and security modifications</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="grid-button-highlight">On</button>
                </div>
            </div>
            <hr >
            <div class="row left-grid-row-container">
                <div class="col-md-10">
                    <div class="grid_ic_wrapper">
                        <span class="grid_ic">
                            <i class="fas fa-sms"></i>
                        </span>
                    </div>
                    <div class="left-grid-text-section">
                        <span class="left-grid-text-title">SMS Authentication</span><br>
                        <span class="text-muted font-12 left-grid-text-data">Used for withdrawls and security modifications</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="grid-button-disable">Disable</button>
                </div>
            </div>
            <hr>
            <div class="row left-grid-row-container">
                <div class="col-md-10">
                    <div class="grid_ic_wrapper">
                        <span class="grid_ic">
                            <i class="fab fa-google"></i>
                            
                        </span>
                    </div>
                    <div class="left-grid-text-section">
                        <span class="left-grid-text-title">E-mail Address</span><br>
                        <span class="text-muted font-12 left-grid-text-data">Used for withdrawls and security modifications</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="grid-button-highlight">Change</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 right-grid-section">
            <div class="row breadcrumb-nav">
                <div class="col-md-8">
                    <span>Identity Verification</span>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a>
                                <span class="fa-stack fa-2x stack-group">
                                    <i class="fa fa-circle fa-stack-2x success_ic"></i>
                                    <i class="fa fa-check fa-stack-1x tick_ic"></i> 
                                </span>
                                <span class="breadcrumb-nav-text">  Verified</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
