<div class="security">
    <div class="sub-header">
        <div class="row">
            <div class="col-md-12">
                <span class="sub-header-title">Increase your account security ( <span class="sub-header-title-subtext">2</span> / 4 )</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="header-left">
                    <div class="breadcrumb-nav">
                        <ul>
                            <li><a><i class="fa fa-check-circle" aria-hidden="true"></i><span class="breadcrumb-nav-text">Enable 2FA</span></a></li>
                            <li><a><i class="fa fa-check-circle" aria-hidden="true"></i><span class="breadcrumb-nav-text">Verified</span></a> </li>
                            <li><a><i class="fa fa-times-circle" aria-hidden="true"></i><span class="breadcrumb-nav-text underline">Enable Anti-phishing Code</span></a></li>
                            <li><a><i class="fa fa-times-circle" aria-hidden="true"></i><span class="breadcrumb-nav-text underline">Turn-on IP Address whitelist</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
