.security {
    // min-width: 1600px;
    @media(max-width:1400px){
        font-size: 14px;
    }
    .sub-header,.detail-container {
        background: #fff;
        margin-left: -15px;
        margin-right: -15px;
        overflow: hidden;
        padding: 15px;
        .sub-header-title{
            font-weight: 600;
            .sub-header-title-subtext{
                font-size: 21px;
                color: #ffb843;
            }
        }
        .header-left {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        .project-version {
            margin-left: 20px;
        }
        .breadcrumb-nav {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-flex;
                li {

                    position: relative;
                    margin-right: 90px;
                    .stack-group{
                        line-height: unset;
                        height: unset;
                        width: 1.5em;
                        margin-bottom: 24px;
                    }
                    i{ 
                        margin-right: 10px; 
                        font-size: 21px;
                    }
                    
                    .breadcrumb-nav-text{ font-size: 14px; }
                    .underline{ text-decoration: underline;}
                    .tick_ic,.cross_ic{
                        font-size: 14px;
                        color: #49d1a5;
                        padding-top: 0.5px;
                    }
                    .cross_ic{
                        color: #ff3654;
                    }
                }
            }
        }
        .sub-links {
            text-align: right;
            margin-top: 4px;
            .circle-dot {
                background: #ff9e00;
                height: 10px;
                width: 10px;
                display: inline-block;
                border-radius: 12px;
                margin-right: 10px;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-flex;
                li {
                 
                    a {
                        margin: 0 5px;
                        background: #007bff;
                        color: #fff !important;
                        padding: 4px 13px;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 600;
                        border-radius: 6px;
                    }
                }
            }
        }

    }
 
    
    .app-tabs {
        background: #fff;
        margin-top: 20px;
        display: flex;
        padding: 5px;
        .tab-left {
            .dropdown-toggle {
                &::after {
                    border: none;
                }
            }
        }
        .tab-right {
            margin-left: auto;
            a {
                background: #007bff;
                color: #fff;
                padding: 7px 10px;
                display: inline-block;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding:0;
            display: inline-flex;
            li {
                &.divider {
                    border-right: 1px solid #ddd;
                    margin: 0 5px;
                }
                &.active {
                    a {
                        background: #007bff;
                        color: #fff;
                    }
                }
                a {
                    padding: 7px 10px;
                    display: inline-block;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .tab-body {
        background: #fff;
        max-width: 90%;
        margin: auto;
        margin-top: 20px;
        padding: 15px;
    }
    .table {
        .sm-row {
            td {
                padding: 6px 10px;
                font-size: 14px;
            }
        }
        td{
            &.cell-info {
                background: #dbf4ff;
            }
        }
      
    }

    .graph-table-header {
        display: flex;
        .graph-links {  
            margin: 0;
            padding: 0;
            display: inline-flex;
            list-style: none;
            color: #bfbfbf;
            li {
                a {
                    margin: 0 10px;
                    &:hover {
                        text-decoration: none;
                    }
                }
                &.active {
                    a{
                        background: #1b1b1b;
                        color: #fff;
                        font-size: 14px;
                        display: block;
                        padding: 2px 7px;
                        border-radius: 7px;
                    }
                  
                }
            }
           
        }
        .view-btn {
            margin-left: auto;
        }
        
    }
}
.gird-section {
    background: none;
    padding: 20px;
    max-width: 98%;
    margin: auto;
    border: none;
    margin-top: 20px;
    .detail-container{
        background:none;
        .right-grid-section{
            background-color: #fff;
            // margin-left: 17px;
            // max-width: 700px;
            padding: 32px;
        }
        .left-grid-section{
            // height: 100px;
            background-color: #fff;
            border-radius: 4px
        }
    }
}

.grid_ic{
   
}
.grid_ic_wrapper{
    display: inline-block;
    margin-right: 10px;
    position: relative;
    bottom: 4px;
    font-size: 30px;
}
.left-grid-text-section{
    display: inline-block;
}
.left-grid-text-title{
    font-size: 16px;
    font-weight: 600;
}
.left-grid-text-data{
    font-size: 12px;
    display: block;
}
.grid-button-highlight, .grid-button-disable{
    width: 100px;
    background: #fff;
    border: 2px solid #ffff21;
    border-radius: 4px;
    color: #ffff21;
}
.left-grid-row-container{
    // padding-bottom: 14px;
    // padding-top: 16px;
    // padding-left: 14px;

    padding: 0;
    margin: 0;
    height: 66px;
    position: relative;
    background-color: #fff;
}
.grid-button-disable{
    color : #000;
    border: 2px solid #edede9;
}

.left-small-container{
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
}
.center-align{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 30px;
}
.center-align-text{
   line-height: 100px;
}
.rightFloat{
    float: right;
}
// .font-13{font-size: 13px;}
// .fw-600 {font-weight: 600;}
.whitelist-off-label{
    font-size: 14px;
    border-bottom: 2px dotted;
    margin-right: 26px;
}


.authentication-list {
    .authentication-item {
        display: flex;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;

        .authentication-logo {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            font-size: 30px;
            img {
                max-width: 100%;
            }
        }
        .authentication-summary {
            h3 {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 0;
            }
            p {
                color: #6b6b6b;
                font-size: 12px;
            }
        }
        .authentication-btn {
            margin-left: auto;
            .btn-holder {
                width: 100px;
            }
        }
    }
}

.single-action-card {
    position: relative;
    display: flex;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1.25rem;
    align-items: center;
    .btn-holder {
        width: 100px;
        margin-left: auto;
    }
    .heading{
        font-weight: 700;
        font-size: 16px;
    }
    p{
        font-size: 12px;
        width: 600px;
        color: #6b6b6b;
    }
    .sub-text{
        font-weight: 700;
    }
    .colored-link{
        text-decoration: underline;
        color: #e7c358;
        cursor: pointer;
    }
    .stack-group{
        line-height: unset;
        height: unset;
        width: 1.5em;
        margin-bottom: 24px;
        .success_ic{
            font-size: 21px;
        }
    }
    .custom-btn-holder{
        width: unset;
    }
}
.success_ic{color: #c3ffd0;}
.danger_ic{color: #fcc0c0bd;}
.tick_ic,.cross_ic{
    font-size: 14px;
    color: #49d1a5;
    padding-top: 0.5px;
}
.cross_ic{
    color: #ff3654;
}