<div class="security">
    <div class="sub-header">
        <div class="row">
            <div class="col-md-12">
                <span class="sub-header-title">Increase your account security ( <span class="sub-header-title-subtext">2</span> / 4 )</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="header-left">
                    <div class="breadcrumb-nav">
                        <ul>
                            <li>
                                <a>
                                    <span class="fa-stack fa-2x stack-group">
                                        <i class="fa fa-circle fa-stack-2x success_ic"></i>
                                        <i class="fa fa-check fa-stack-1x tick_ic"></i> 
                                    </span>
                                    <span class="breadcrumb-nav-text">  Enable 2FA</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="fa-stack fa-2x stack-group">
                                        <i class="fa fa-circle fa-stack-2x success_ic"></i>
                                        <i class="fa fa-check fa-stack-1x tick_ic"></i> 
                                    </span>
                                    <span class="breadcrumb-nav-text">  Verified</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="fa-stack fa-2x stack-group">
                                        <i class="fa fa-circle fa-stack-2x danger_ic"></i>
                                        <i class="fa fa-times fa-stack-1x cross_ic"></i> 
                                    </span>
                                    <span class="breadcrumb-nav-text underline">  Enable Anti-phishing Code</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="fa-stack fa-2x stack-group">
                                        <i class="fa fa-circle fa-stack-2x danger_ic"></i>
                                        <i class="fa fa-times fa-stack-1x cross_ic"></i> 
                                    </span>
                                    <span class="breadcrumb-nav-text underline">  Turn-on IP Address whitelist</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="card mb-4 mt-3">
            <div class="card-body">
              <h5 class="card-title bold-text">2FA</h5>
                <div class="authentication-list">
                        <div class="authentication-item">
                            <div class="authentication-logo">
                                <i class="fab fa-google"></i>
                            </div>
                            <div class="authentication-summary">
                                <h3>Google Authentication</h3>
                                <p class="text-muted">Used for withdrawls and security modifications</p>
                            </div>
                            <div class="authentication-btn">
                                <div class="btn-holder">
                                    <button type="button" class="btn btn-outline-warning  btn-block">On</button>
                                </div>
                            </div>

                        </div>
                        <div class="authentication-item">
                            <div class="authentication-logo">
                                <i class="fas fa-sms"></i>
                            </div>
                            <div class="authentication-summary">
                                <h3>SMS Authentication</h3>
                                <p>Used for withdrawls and security modifications</p>
                            </div>
                            <div class="authentication-btn">
                                <div class="btn-holder">
                                    <button type="button" class="btn grid-button-disable btn-block">Disable</button>
                                </div>
                            </div>

                        </div>
                        <div class="authentication-item">
                            <div class="authentication-logo">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="authentication-summary">
                                <h3>E-mail Address</h3>
                                <p>Used for withdrawls and security modifications</p>
                            </div>
                            <div class="authentication-btn">
                                <div class="btn-holder">
                                    <button type="button" class="btn btn-outline-warning  btn-block">Change</button>
                                </div>
                            </div>

                        </div>

                </div>


            </div>
          </div>

         


        <div class="single-action-card mb-4">
                <div class="heading">
                    Device Management
                </div>
                <div class="btn-holder">
                    <button type="button" class="btn  grid-button-disable btn-block">
                        <span>Manage</span>
                    </button>
                </div>
            
        </div>
        <div class="single-action-card mb-4">
            <div class="heading">
                Login Password
            </div>
            <div class="btn-holder">
                <button type="button" class="btn grid-button-disable btn-block">
                   <span>Change</span> 
                </button>
            </div>
        
        </div>
          

    </div>
    <div class="col-md-6 mt-3">
        <div class="single-action-card">
            <div class="heading">
                Identity Verification
            </div>
            <div class="btn-holder custom-btn-holder">
                <a>
                    <span class="fa-stack fa-2x stack-group">
                        <i class="fa fa-circle fa-stack-2x success_ic"></i>
                        <i class="fa fa-check fa-stack-1x tick_ic"></i> 
                    </span>
                    Verified
                    <!-- <span class="breadcrumb-nav-text">  Enable 2FA</span> -->
                </a>
                <!-- <div class="text-success">
                    <i class="far fa-check-circle"></i>  <span style="color: #000;">  Verified</span>
                </div> -->
            </div>
        </div>

        <div class="single-action-card mt-4">
            <div class="left-col">
                <span class="heading">IP Address Management</span>
                <p>IP Address Management allows you to define the list of
                    IP addresses that are allowed to log in to your account.
                    Unauthorized IP Address logins will have to verified by
                    you.
                </p>
                <div>
                    <span class="whitelist-off-label">Whitelist Off</span>
                      <label class="form-switch">
                         <input type="checkbox" id="omni_payment_mode">
                         <span class="form-switch-slider round"></span>
                     </label> 
                    
                   </div>
            </div>
            <div class="btn-holder">
                <button type="button" class="btn btn-outline-warning  btn-block">On</button>
            </div>
        </div>
        <div class="single-action-card mt-4">
            <div class="left-col">
                <span class="heading">Anti-phishing Code</span>
                <p>By setting up an Anti-phishing Code, you will be able to tell 
                    if your notification emails are coming from the spread platform,
                    or are phishing attempts.
                </p>
            </div>
            <div class="btn-holder">
                <button type="button" class="btn btn-outline-warning  btn-block">Enable</button>
            </div>
        </div>
        <div class="single-action-card mt-4">
            <div class="left-col">
                <span class="heading">Account Activity</span>
                <p>Last login: 2021-02-10 11:28:55</p>
                <p class="sub-text">Suspicious account activity? <a class="colored-link">Disable account</a></p>
            </div>
            <div class="btn-holder">
                <button type="button" class="btn btn-outline-warning  btn-block">Enable</button>
            </div>
        </div>
      
      <!-- <div class="single-action-card">
        <div class="left-col">
            <h4>heading here</h4>
            <p>text here</p>
        </div>
        <div class="btn-holder">
            <div class="text-success">
                <i class="far fa-check-circle"></i>  Approved
            </div>
            <div class="text-danger">
                <i class="far fa-times-circle"></i> Dicline

            </div>
            
        </div>
    
  </div> -->

    </div>

</div>


<div class="gird-section security" style="display: none;">
    <div class="detail-container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-grid-section">
                    <div>
                        <span class="bold-text">2FA</span>
                    </div>
                    <div class="left-grid-row-container">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="grid_ic_wrapper">
                                    <span class="grid_ic">
                                        <i class="fab fa-google"></i>
                                    </span>
                                </div>
                                <div class="left-grid-text-section">
                                    <span class="left-grid-text-title">Google Authentication</span><br>
                                    <span class="text-muted font-12 left-grid-text-data"></span>
                                </div>
                            </div>
                            <div class="col-md-2 center-align">
                                <button class="grid-button-highlight">On</button>
                            </div>
                        </div>
                    </div>

                </div>

           
             
                <hr >
                <div class="row left-grid-row-container">
                    <div class="col-md-10">
                        <div class="grid_ic_wrapper">
                            <span class="grid_ic">
                                <i class="fas fa-sms"></i>
                            </span>
                        </div>
                        <div class="left-grid-text-section">
                            <span class="left-grid-text-title">SMS Authentication</span><br>
                            <span class="text-muted font-12 left-grid-text-data">Used for withdrawls and security modifications</span>
                        </div>
                    </div>
                    <div class="col-md-2 center-align">
                        <button class="grid-button-disable">Disable</button>
                    </div>
                </div>
                <hr>
                <div class="row left-grid-row-container">
                    <div class="col-md-10">
                        <div class="grid_ic_wrapper">
                            <span class="grid_ic">
                                <i class="far fa-envelope"></i>
                            </span>
                        </div>
                        <div class="left-grid-text-section">
                            <span class="left-grid-text-title">E-mail Address</span><br>
                            <span class="text-muted font-12 left-grid-text-data">Used for withdrawls and security modifications</span>
                        </div>
                    </div>
                    <div class="col-md-2 center-align">
                        <button class="grid-button-highlight">Change</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row right-grid-section">
                    <div class="col-md-12 breadcrumb-nav">
                        <span>Identity Verification</span>
                        <ul style="float: right;">
                            <li>
                                <a>
                                    <span class="fa-stack fa-2x stack-group">
                                        <i class="fa fa-circle fa-stack-2x success_ic"></i>
                                        <i class="fa fa-check fa-stack-1x tick_ic"></i> 
                                    </span>
                                    <span class="breadcrumb-nav-text">  Verified</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row col-12 left-small-container mt-20">
                    <div class="col-md-6">
                        <div class="left-grid-text-section">
                            <span class="left-grid-text-title">IP Address Management</span><br>
                        </div>
                        <div class="text-muted font-12">
                            IP Address Management allows you to define the list of
                            IP addresses that are allowed to log in to your account.
                            Unauthorized IP Address logins will have to verified by
                            you.
                        </div>
                        <div>
                           <span class="whitelist-off-label">Whitelist Off</span>
                             <label class="form-switch">
                                <input type="checkbox" id="omni_payment_mode">
                                <span class="form-switch-slider round"></span>
                            </label> 
                           
                          </div>
                    </div>
                    <div class="col-md-6 center-align">
                        <button class="grid-button-disable rightFloat">More</button>
                    </div>
                </div>
                <div class="row col-12 left-small-container mt-20">
                    <div class="col-md-6">
                        <div class="left-grid-text-section">
                            <span class="left-grid-text-title">Anti-phishing Code</span><br>
                        </div>
                        <div class="text-muted font-12">
                            By setting up an Anti-phishing Code, you will be able to tell 
                            if your notification emails are coming from the spread platform,
                            or are phishing attempts.
                        </div>
                    </div>
                    <div class="col-md-6 center-align">
                        <button class="grid-button-highlight rightFloat">Enable</button>
                    </div>
                </div>
                <div class="row col-12 left-small-container mt-20">
                    <div class="col-md-6">
                        <div class="left-grid-text-section">
                            <span class="left-grid-text-title">Account Activity</span><br>
                        </div>
                        <div class="text-muted font-12">
                            Last login: 2021-02-10 11:28:55 
                        </div>
                        <div class="font-13 fw-600">
                            
                        </div>
                    </div>
                    <div class="col-md-6 center-align">
                        <button class="grid-button-disable rightFloat">More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
    <div class="row col-6 left-small-container">
        <div class="col-md-6">
            <div class="left-grid-text-section center-align-text">
                <span class="left-grid-text-title">Device Management</span><br>
            </div>
        </div>
        <div class="col-md-6 center-align">
            <button class="grid-button-disable rightFloat">Manage</button>
        </div>
    </div>
    <div class="row col-6 left-small-container mt-20">
        <div class="col-md-6">
            <div class="left-grid-text-section center-align-text">
                <span class="left-grid-text-title">Login Password</span><br>
            </div>
        </div>
        <div class="col-md-6 center-align">
            <button class="grid-button-disable rightFloat">Change</button>
        </div>
    </div>
</div>
