.navbar {
    padding: 0 15px;
    .nav-link {
        padding: 15px;
    }
}
.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active {
    background: #dedede; 
}