.navbar {
    padding: 0 15px;
    .nav-link {
        padding: 15px;
        position: relative;
        margin-left: 20px;
        .new-label {
            top: -12px;
            font-size: 12px;
            color: #da8616;
            text-transform: uppercase;
            position: relative;
        }
        
    }
}
.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active {
    background: #dedede; 
}
